<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">

        <small><i class="fas fa-cog fa-fw"></i></small>

        License key

        {{#if licenseInfo.details.trial}}
        <span class="badge badge-warning">in trial</span>
        {{else}}

        {{#if licenseInfo.active}}

        <span class="badge badge-success">active</span>

        {{else}}

        <span class="badge badge-danger">not provided</span>

        {{/if}}
        {{/if}}
    </h1>
</div>

<p class="mb-4">
    EmailEngine is licensed under the commercial
    <a href="/license.html" target="_blank">EmailEngine License</a>. Using the EmailEngine license after the
    free trial period requires a valid license key.
</p>

{{#if subexp}}
<div class="card border-left-danger shadow mt-4">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">

                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                    Invalid license key</div>

                <p>
                    Your EmailEngine instance has a registered license key, but the account that
                    generated the key seems to be missing an active subscription from Postal Systems, or the key has
                    been invalidated.
                </p>

                <p>
                    EmailEngine will use the current license key for the next
                    <strong>{{ngettext '%d day' '%d days' expiresDays}}</strong>.
                    If you haven't renewed your subscription by that time, you would need to provide a new license key.
                </p>

                <div>
                    <a href="https://postalsys.com/plans" class="btn btn-primary btn-icon-split" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Subscribe here</span>
                    </a>
                </div>

            </div>
            <div class="col-auto">
                <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#unless licenseInfo.active}}

<div class="card mb-4">
    <div class="card-body">
        <div class="float-right ml-4">
            <a href="https://postalsys.com/licenses" target="_blank" referrerpolicy="{{referrerPolicy}}"
                class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Provision a license</span>
            </a>
        </div>
        <p class="mb-4">
            License keys for EmailEngine can be provisioned from the Postal Systems' <a
                href="https://postalsys.com/licenses" target="_blank" referrerpolicy="{{referrerPolicy}}">license
                central</a>
            (requires a paid subscription).
        </p>

    </div>
</div>

{{/unless}}

{{#if licenseInfo.active}}
<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
            Active license key</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">License actions:</div>
                <a class="dropdown-item" href="#" id="unregister-license-link">
                    <i class="fas fa-trash-alt fa-sm"></i>
                    <span>Unregister current license</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-3">Key</dt>
            <dd class="col-sm-9">{{licenseInfo.details.key}} ({{licenseInfo.type}})</dd>

            <dt class="col-sm-3">Licensed to</dt>
            <dd class="col-sm-9">{{licenseInfo.details.licensedTo}}</dd>

            <dt class="col-sm-3">Environment</dt>
            <dd class="col-sm-9">{{licenseInfo.details.hostname}}</dd>


            {{#if licenseDetails.expires}}
            <dt class="col-sm-3">License expires</dt>
            <dd class="col-sm-9">in {{licenseDetails.expiresDays}} days</dd>
            {{/if}}

        </dl>


    </div>
</div>

{{/if}}



<div class="card mb-4">
    <a href="#setupKey" class="d-block card-header py-3 {{#unless showLicenseText}} collapsed{{/unless}}"
        data-toggle="collapse" role="button" aria-expanded="true" aria-controls="setupKey">
        <h6 class="m-0 font-weight-bold text-primary">Register a license key</h6>
    </a>
    <div class="collapse {{#if showLicenseText}} show{{/if}}" id="setupKey">
        <div class="card-body">

            {{#if licenseInfo.active}}<p>You can replace an existing license key with a new one. Provision a new license
                key from the Postal Systems' <a href="https://postalsys.com/licenses" target="_blank"
                    referrerpolicy="{{referrerPolicy}}">license
                    central</a> (requires a paid subscription).</p>{{/if}}

            <form method="post" id="licenseForm" action="/admin/config/license">
                <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />

                <div class="mb-3">
                    <button type="button" class="btn btn-info btn-icon-split" id="licenseFile">
                        <span class="icon text-white-50">
                            <i class="fas fa-file-import"></i>
                        </span>
                        <span class="text">Select license key from file&#x2026;</span>
                    </button>
                </div>

                <div class="form-group">
                    <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/license/postV1License"
                            target="_blank">license</a>]
                    </div>

                    <label for="licenseTextElement">Or paste license key contents to this text box</label>

                    <textarea class="form-control droptxt autoselect {{#if errors.license}}is-invalid{{/if}}"
                        id="licenseTextElement" name="license" rows="9" data-enable-grammarly="false" spellcheck="false"
                        placeholder="Starts with &quot;-----BEGIN LICENSE-----&quot;&mldr;"
                        required>{{values.license}}</textarea>
                    {{#if errors.license}}
                    <span class="invalid-feedback">{{errors.license}}</span>
                    {{/if}}
                    <small class="form-text text-muted">Paste or drag a license key file to this text box</small>
                </div>

                <div class="mb-4">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-key"></i>
                        </span>
                        <span class="text">Register</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLicense" tabindex="-1" aria-labelledby="deleteLicenseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteLicenseLabel">Unregister license</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to unregister current license key?
            </div>
            <div class="modal-footer">
                <form method="post" action="/admin/config/license/delete">
                    <input type="hidden" name="crumb" value="{{crumb}}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Unregister</button>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="deleteLicense" tabindex="-1" aria-labelledby="deleteLicenseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLicenseLabel">Unregister license</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to unregister current license key?</div>
            <div class="modal-footer">
                <form method="post" action="/admin/config/license/delete">
                    <input type="hidden" name="crumb" value="{{ crumb }}" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Unregister</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let deleteLicenseElm = document.getElementById('unregister-license-link');
        if (deleteLicenseElm) {
            deleteLicenseElm.addEventListener('click', e => {
                e.preventDefault();
                $('#deleteLicense').modal('show');
            });
        }

        let licenseTextElm = document.getElementById('licenseTextElement')
        let fileSelectElm = document.getElementById('licenseFile');
        fileSelectElm.addEventListener('click', (e) => {
            e.preventDefault();
            browseFileContents('text').then(licenseFileTxt => {
                if (licenseFileTxt) {
                    licenseFileTxt = (licenseFileTxt || '').toString().trim().substring(0, 10 * 1024)
                    licenseTextElm.value = licenseFileTxt;
                    if (licenseFileTxt.indexOf('BEGIN LICENSE') >= 0) {
                        document.getElementById('licenseForm').submit();
                    } else {
                        licenseTextElm.focus();
                        licenseTextElm.select();
                    }
                }
            }).catch(err => {
                console.error(err);
                if (err.code === 'NoFileSelected') {
                    return
                }
                showToast('Failed to read license key file\n' + err.message, 'check-circle');
            })
        });
    });
</script>