<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">

        <small><i class="fas fa-cog fa-fw"></i></small>

        License

        {{#if licenseInfo.details.trial}}
        <span class="badge badge-warning">trial</span>
        {{else}}

        {{#if licenseInfo.active}}

        <span class="badge badge-success">active</span>

        {{else}}

        <span class="badge badge-danger">not activated</span>

        {{/if}}
        {{/if}}
    </h1>
</div>

<p class="mb-4">
    EmailEngine requires a valid license key after the free trial period. Licensed under the <a href="/license.html"
        target="_blank" rel="noopener noreferrer">EmailEngine License</a>.
</p>

{{#if subexp}}
<div class="card border-left-danger shadow mt-4">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">

                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                    License Issue</div>

                <p>
                    Your license key is registered but the associated subscription appears to be inactive or the key has
                    been invalidated.
                </p>

                <p>
                    You can continue using EmailEngine for <strong>{{ngettext '%d day' '%d days' expiresDays}}</strong>.
                    After that, you'll need a new license key.
                </p>

                <div>
                    <a href="https://postalsys.com/plans" class="btn btn-primary btn-icon-split" target="_blank"
                        rel="noopener noreferrer" referrerpolicy="no-referrer">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Renew Subscription</span>
                    </a>
                </div>

            </div>
            <div class="col-auto">
                <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#unless licenseInfo.active}}

<div class="card mb-4">
    <div class="card-body">
        <div class="float-right ml-4">
            <a href="https://postalsys.com/licenses" target="_blank" rel="noopener noreferrer"
                referrerpolicy="no-referrer" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Get a License</span>
            </a>
        </div>
        <p class="mb-4">
            Purchase and manage license keys at <a href="https://postalsys.com/licenses" target="_blank"
                rel="noopener noreferrer" referrerpolicy="no-referrer">Postal Systems License Central</a> (subscription
            required).
        </p>

    </div>
</div>

{{/unless}}

{{#if licenseInfo.active}}
<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
            Current License</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Actions:</div>
                <a class="dropdown-item" href="#" id="unregister-license-link">
                    <i class="fas fa-trash-alt fa-sm"></i>
                    <span>Remove License</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-3">License Key</dt>
            <dd class="col-sm-9">{{licenseInfo.details.key}} ({{licenseInfo.type}})</dd>

            <dt class="col-sm-3">Licensed To</dt>
            <dd class="col-sm-9">{{licenseInfo.details.licensedTo}}</dd>

            <dt class="col-sm-3">Environment</dt>
            <dd class="col-sm-9">{{licenseInfo.details.hostname}}</dd>

            {{#if licenseDetails.expires}}
            <dt class="col-sm-3">Expires</dt>
            <dd class="col-sm-9">In {{licenseDetails.expiresDays}} days</dd>
            {{/if}}

            {{#if licenseDetails.lt}}
            <dt class="col-sm-3">Expiration</dt>
            <dd class="col-sm-9">Never expires</dd>
            {{/if}}

        </dl>

    </div>
</div>

{{/if}}



<div class="card mb-4">
    <a href="#setupKey" class="d-block card-header py-3 {{#unless showLicenseText}} collapsed{{/unless}}"
        data-toggle="collapse" role="button" aria-expanded="true" aria-controls="setupKey">
        <h6 class="m-0 font-weight-bold text-primary">Add License Key</h6>
    </a>
    <div class="collapse {{#if showLicenseText}} show{{/if}}" id="setupKey">
        <div class="card-body">

            {{#if licenseInfo.active}}<p>Replace your existing license with a new one. Get license keys from <a
                    href="https://postalsys.com/licenses" target="_blank" rel="noopener noreferrer"
                    referrerpolicy="no-referrer">Postal Systems License Central</a>.</p>{{/if}}

            <form method="post" id="licenseForm" action="/admin/config/license">
                <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />

                <div class="mb-3">
                    <button type="button" class="btn btn-info btn-icon-split" id="licenseFile">
                        <span class="icon text-white-50">
                            <i class="fas fa-file-import"></i>
                        </span>
                        <span class="text">Upload License File</span>
                    </button>
                </div>

                <div class="form-group">
                    <div class="text-muted float-right code-link">[<a href="/admin/swagger#/license/postV1License"
                            target="_blank" rel="noopener noreferrer">license</a>]
                    </div>

                    <label for="licenseTextElement">Or paste license key here</label>

                    <textarea class="form-control droptxt autoselect {{#if errors.license}}is-invalid{{/if}}"
                        id="licenseTextElement" name="license" rows="9" data-enable-grammarly="false" spellcheck="false"
                        placeholder="-----BEGIN LICENSE-----" required>{{values.license}}</textarea>
                    {{#if errors.license}}
                    <span class="invalid-feedback">{{errors.license}}</span>
                    {{/if}}
                    <small class="form-text text-muted">Drag and drop or paste your license key</small>
                </div>

                <div class="mb-4">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-key"></i>
                        </span>
                        <span class="text">Activate License</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLicense" tabindex="-1" aria-labelledby="deleteLicenseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteLicenseLabel">Remove License</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Remove the current license key from this EmailEngine instance?
            </div>
            <div class="modal-footer">
                <form method="post" action="/admin/config/license/delete">
                    <input type="hidden" name="crumb" value="{{crumb}}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Remove License</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let deleteLicenseElm = document.getElementById('unregister-license-link');
        if (deleteLicenseElm) {
            deleteLicenseElm.addEventListener('click', e => {
                e.preventDefault();
                $('#deleteLicense').modal('show');
            });
        }

        let licenseTextElm = document.getElementById('licenseTextElement')
        let fileSelectElm = document.getElementById('licenseFile');
        fileSelectElm.addEventListener('click', (e) => {
            e.preventDefault();
            browseFileContents('text').then(licenseFileTxt => {
                if (licenseFileTxt) {
                    licenseFileTxt = (licenseFileTxt || '').toString().trim().substring(0, 10 * 1024)
                    licenseTextElm.value = licenseFileTxt;
                    if (licenseFileTxt.indexOf('BEGIN LICENSE') >= 0) {
                        document.getElementById('licenseForm').submit();
                    } else {
                        licenseTextElm.focus();
                        licenseTextElm.select();
                    }
                }
            }).catch(err => {
                console.error(err);
                if (err.code === 'NoFileSelected') {
                    return
                }
                showToast('Failed to read license key file\n' + err.message, 'check-circle');
            })
        });
    });
</script>