<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">

        <small><i class="fas fa-network-wired fa-fw"></i></small>
        Network
    </h1>
</div>

<p class="mb-4">Manage available IP addresses.</p>

<form method="post" action="/admin/config/network">
    <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />

    <div class="card mb-4 mt-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Proxy</h6>
        </div>
        <div class="card-body">
            <p>Here you can configure a default proxy for all email server connections. EmailEngine supports HTTP
                CONNECT and SOCKS (both 4 and 5) proxies.</p>

            <div class="form-group form-check">

                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">proxyEnabled</a>]</div>

                <input type="checkbox"
                    class="form-check-input proxy-status {{#if errors.proxyEnabled}}is-invalid{{/if}}"
                    id="proxy_enabled" name="proxyEnabled" {{#if values.proxyEnabled}}checked{{/if}} />
                <label class="form-check-label" for="proxy_enabled">Enable proxy for all accounts</label>
                {{#if errors.proxyEnabled}}
                <span class="invalid-feedback">{{errors.proxyEnabled}}</span>
                {{/if}}
                <small class="form-text text-muted">Each account can have its own proxy configuration as well.</small>

            </div>

            <div class="form-group">

                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">proxyUrl</a>]</div>

                <label for="proxyUrl">Proxy URL</label>
                <input type="text" class="form-control or-else-all  {{#if errors.proxyUrl}}is-invalid{{/if}}"
                    id="proxyUrl" placeholder="Connection URL like &quot;socks://localhost:1080&quot;&mldr;"
                    value="{{values.proxyUrl}}" name="proxyUrl" data-target="proxy-status">
                {{#if errors.proxyUrl}}
                <span class="invalid-feedback">{{errors.proxyUrl}}</span>
                {{/if}}
                <small id="proxyUrlBlock" class="form-text text-muted">Proxy URL must start with http://, https://,
                    socks://, socks4:// or socks5://</small>
            </div>

            <div class="form-group">

                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">smtpEhloName</a>]</div>

                <label for="smtpEhloName">SMTP Greeting Hostname</label>
                <input type="text" class="form-control {{#if errors.proxyUrl}}is-invalid{{/if}}" id="smtpEhloName"
                    placeholder="Proxy hostname like &quot;my.proxy.tld&quot;&mldr;" value="{{values.smtpEhloName}}"
                    name="smtpEhloName">
                {{#if errors.smtpEhloName}}
                <span class="invalid-feedback">{{errors.smtpEhloName}}</span>
                {{/if}}
                <small id="smtpEhloNameBlock" class="form-text text-muted">Hostname to use for the SMTP EHLO/HELO
                    greeting. Leave empty to use the default <code>{{defaultSmtpEhloName}}</code> or if you are using a
                    dedicated IP address, then the name of the IP is preferred over this value.</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 mt-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Default IP-address selection strategy</h6>
        </div>
        <div class="card-body">
            <p>If your server can use multiple local IP addresses, you can choose how EmailEngine selects such an
                address from the address pool when connecting to an email server.</p>
            <p><em>Dedicated</em> means that the same account always gets the same IP address from the IP pool.
                <em>Random</em> means that each connection gets a random IP address assigned from the pool. <em>Server
                    default</em> means that EmailEngine does not select a local address for the connection.
            </p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Protocol</th>
                    <th>Strategy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>IMAP</span>
                    </td>
                    <td>
                        <div class="text-muted float-right code-link">[<a
                                href="/admin/iframe/docs#/Settings/postV1Settings" target="_blank">imapStrategy</a>]
                        </div>
                        <select class="custom-select custom-select-sm" name="imapStrategy" {{#if
                            errors.imapStrategy}}is-invalid{{/if}}>

                            {{#each imapStrategies}}
                            <option value="{{key}}" {{#if selected}}selected{{/if}}>{{title}}</option>
                            {{/each}}
                        </select>
                        {{#if errors.imapStrategy}}
                        <span class="invalid-feedback">{{errors.imapStrategy}}</span>
                        {{/if}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <span>SMTP</span>
                    </td>
                    <td>
                        <div class="text-muted float-right code-link">[<a
                                href="/admin/iframe/docs#/Settings/postV1Settings" target="_blank">smtpStrategy</a>]
                        </div>
                        <select class="custom-select custom-select-sm" name="smtpStrategy" {{#if
                            errors.smtpStrategy}}is-invalid{{/if}}>

                            {{#each smtpStrategies}}
                            <option value="{{key}}" {{#if selected}}selected{{/if}}>{{title}}</option>
                            {{/each}}

                        </select>
                        {{#if errors.smtpStrategy}}
                        <span class="invalid-feedback">{{errors.smtpStrategy}}</span>
                        {{/if}}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="card mb-4 mt-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary align-self-center">Allowed IP addresses</h6>
            <div class="align-self-center"><button class="btn btn-primary" id="reload-btn">
                    <i class="fa fa-sync-alt fa-fw"></i>
                    Scan addresses</button></div>
        </div>

        <div class="card-body">
            <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                    target="_blank">localAddresses</a>]</div>
            Mark all addresses that EmailEngine can use with <em>Dedicated</em> and <em>Random</em> strategies.
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox-all">&nbsp;
                        </div>
                    </th>
                    <th>
                        Local address
                    </th>
                    <th>
                        Public address
                    </th>
                    <th colspan="2">
                        Name
                    </th>
                </tr>
            </thead>
            <tbody id="address-list">
                {{>address_list}}
            </tbody>

        </table>

    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-cog"></i>
            </span>
            <span class="text">Update settings</span>
        </button>
    </div>

</form>


<div class="modal fade" id="deleteAddress" tabindex="-1" aria-labelledby="deleteAddressLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteAddressLabel">Delete address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this local address? When you later rescan addresses and the address is
                found it gets re-added to the list.
            </div>
            <div class="modal-footer">
                <form method="post" action="/admin/config/network/delete">
                    <input type="hidden" name="crumb" value="{{crumb}}">
                    <input type="hidden" name="localAddress" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>


<script id="address-list-template" type="text/x-handlebars-template">
{{{addressListTemplate}}}
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let reloadBtn = document.getElementById('reload-btn');
        let reloadBtnIcon = document.querySelector('#reload-btn i');

        const requestReload = async () => {
            const res = await fetch('/admin/config/network/reload', {
                method: 'post',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({
                    crumb: document.getElementById('crumb').value
                })
            });
            if (!res.ok) {
                throw new Error(`HTTP error! status: ${res.status}`);
            }
            const data = await res.json();

            return data;
        }

        let updateAllCheckboxes = () => {
            let state = document.getElementById('checkbox-all').checked;

            for (let elm of document.querySelectorAll('.checkbox-entry')) {
                elm.checked = state
            }
        }

        let checkCheckboxes = elm => {
            let allChecked = true;
            for (let elm of document.querySelectorAll('#address-list .checkbox-entry')) {
                if (!elm.checked) {
                    allChecked = false
                }
            }
            document.getElementById('checkbox-all').checked = allChecked;
        }

        document.getElementById('checkbox-all').addEventListener('click', updateAllCheckboxes);
        document.getElementById('checkbox-all').addEventListener('change', updateAllCheckboxes);

        for (let elm of document.querySelectorAll('#address-list .checkbox-entry')) {
            elm.addEventListener('click', checkCheckboxes);
            elm.addEventListener('change', checkCheckboxes);
        }

        checkCheckboxes()

        const addressListTemplate = Handlebars.compile(document.getElementById('address-list-template').innerHTML);

        let redrawAddressList = data => {
            let html = addressListTemplate(data);
            document.getElementById('address-list').innerHTML = html;

            for (let elm of document.querySelectorAll('#address-list .checkbox-entry')) {
                elm.addEventListener('click', checkCheckboxes);
                elm.addEventListener('change', checkCheckboxes);
            }

            checkCheckboxes();
        }

        let loading = false;
        let reloadAddresses = () => {
            if (loading) {
                return
            }
            loading = true
            reloadBtnIcon.classList.add('fa-spin');
            reloadBtn.disabled = true;

            requestReload().then(data => {
                loading = false
                reloadBtnIcon.classList.remove('fa-spin');
                reloadBtn.disabled = false;
                if (data.error) {
                    showToast('Failed to send payload', 'alert-triangle')
                    return;
                }

                if (data.addresses) {
                    redrawAddressList(data);
                }

            }).catch(err => {
                loading = false
                reloadBtnIcon.classList.remove('fa-spin');
                reloadBtn.disabled = false;
                showToast('Request failed\n' + err.message, 'alert-triangle');
            });
        }

        reloadBtn.addEventListener('click', reloadAddresses);

        if (!document.querySelectorAll('#address-list .checkbox-entry').length) {
            reloadAddresses();
        }

        $('#deleteAddress').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var address = button.data('address') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text(`Delete ${address}?`)
            modal.find('.modal-footer input[name=localAddress]').val(address)
        })
    });
</script>