<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">

        <small><i class="fas fa-cog fa-fw"></i></small>
        OAuth2
    </h1>
</div>

<p class="mb-4">Configure OAuth2 settings for supported services.</p>

<ul class="nav nav-pills mb-4">
    <li class="nav-item">
        <a class="nav-link {{#if activeGmail}}active{{/if}}" href="/admin/config/oauth-legacy">Gmail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if activeOutlook}}active{{/if}}" href="/admin/config/oauth-legacy/outlook">Outlook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if activeGmailService}}active{{/if}}" href="/admin/config/oauth-legacy/gmailService">Gmail
            Service Accounts</a>
    </li>

    <!-- Do not expose Mail.RU by default (untested) -->
    {{#if showMailRu}}
    <li class="nav-item">
        <a class="nav-link {{#if activeMailRu}}active{{/if}}" href="/admin/config/oauth-legacy/mailRu">Mail.ru <span
                class="badge badge-dark">beta</span></a>
    </li>
    {{/if}}

</ul>

<div class="card border-left-info shadow mb-4">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">

                {{#if activeGmail}}
                <div>Your OAuth2 project <strong>must</strong> have the following scopes enabled:</div>
                <ul>
                    <li><code>"https://mail.google.com/"</code>
                </ul>
                <div>Read about setting up the OAuth2 project in Google Cloud from <a
                        href="https://docs.emailengine.app/setting-up-gmail-oauth2-for-imap-api/" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">here</a>.
                </div>
                {{/if}}

                {{#if activeGmailService}}
                <div>Your OAuth2 project <strong>must</strong> have the following scopes enabled:</div>
                <ul>
                    <li><code>"https://mail.google.com/"</code>
                </ul>
                <div>Read about setting up Google service accounts from <a
                        href="https://docs.emailengine.app/oauth-legacy/gmail-service-accounts/" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">here</a>.

                </div>
                {{/if}}

                {{#if activeOutlook}}
                <div>Your OAuth2 project <strong>must</strong> have the following scopes enabled:</div>
                <ul>
                    <li><code>"IMAP.AccessAsUser.All"</code>
                    <li><code>"SMTP.Send"</code>
                    <li><code>"offline_access"</code>
                </ul>
                <div>
                    Read about setting up the OAuth2 project in Azure Active Directory from <a
                        href="https://docs.emailengine.app/setting-up-oauth2-with-outlook/" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">here</a>.
                </div>
                {{/if}}

                {{#if activeMailRu}}
                <div>Your OAuth2 project <strong>must</strong> have the following scopes enabled:</div>
                <ul>
                    <li><code>"userinfo"</code>
                    <li><code>"mail.imap"</code>
                </ul>

                <div class="alert alert-info"><strong>NB!</strong> The required "mail.imap" scope might not be available
                    for your <a href="https://oauth.mail.ru/app/" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">OAuth2
                        apps</a> by default.</div>
                {{/if}}

            </div>
            <div class="col-auto">
                <i class="fas fa-info-circle fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>

<form method="post" action="/admin/config/oauth-legacy">
    <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />
    <input type="hidden" name="provider" value="{{values.provider}}">

    <div class="card mb-4">

        <div class="card-body">

            <p>Setting up OAuth2 credentials allows refreshing expired access tokens.</p>

            {{#if activeGmailService}}

            <div class="form-group">
                <button type="button" class="btn btn-info btn-icon-split" id="serviceFile">
                    <span class="icon text-white-50">
                        <i class="fas fa-file-import"></i>
                    </span>
                    <span class="text">Select service key file&#x2026;</span>
                </button>
                <small class="form-text text-muted">Select the JSON file you received after generating a new service key
                    to
                    retrieve the service values.</small>
            </div>

            <div class="form-group">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">serviceClient</a>]
                </div>

                <label for="serviceClient">
                    Service client
                </label>
                <input type="text" class="form-control {{#if errors.serviceClient}}is-invalid{{/if}}" id="serviceClient"
                    name="serviceClient" value="{{values.serviceClient}}" placeholder="Enter service client ID&mldr;" />
                {{#if errors.serviceClient}}
                <span class="invalid-feedback">{{errors.serviceClient}}</span>
                {{/if}}
                <small class="form-text text-muted">OAuth2 Service Client ID</small>
            </div>

            <div class="form-group">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">serviceKey</a>]
                </div>

                <label for="serviceKey">Secret service key</label>

                <textarea class="form-control droptxt autoselect {{#if errors.serviceKey}}is-invalid{{/if}}"
                    id="serviceKey" name="serviceKey" rows="4" data-enable-grammarly="false" spellcheck="false" {{#if
                    hasServiceKey}}placeholder="Service key is set but not shown&mldr;" {{else}}
                    placeholder="Starts with &quot;-----BEGIN PRIVATE KEY-----&quot;&mldr;"
                    {{/if}}>{{values.serviceKey}}</textarea>
                {{#if errors.serviceKey}}
                <span class="invalid-feedback">{{errors.serviceKey}}</span>
                {{/if}}
            </div>

            {{else}}
            <div class="form-group form-check">

                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">{{values.provider}}Enabled</a>]
                </div>

                <input type="checkbox" class="form-check-input {{#if errors.oauth2Enabled}}is-invalid{{/if}}"
                    id="oauth2Enabled" name="oauth2Enabled" {{#if values.oauth2Enabled}}checked{{/if}} />
                <label class="form-check-label" for="oauth2Enabled">Enable OAuth2 support for
                    {{providerName}}</label>
                {{#if errors.oauth2Enabled}}
                <span class="invalid-feedback">{{errors.oauth2Enabled}}</span>
                {{/if}}
                <small class="form-text text-muted">If enabled, then <em>"{{providerName}}"</em> is shown as an account
                    type option when adding an account using the hosted authentication form.</small>
            </div>

            <div class="form-group">

                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">{{values.provider}}ClientId</a>]
                </div>

                <label for="clientId">
                    {{#if activeGmail}}
                    Client Id
                    {{/if}}

                    {{#if activeMailRu}}
                    Client Id
                    {{/if}}

                    {{#if activeOutlook}}
                    Application Id
                    {{/if}}
                </label>
                <input type="text" class="form-control {{#if errors.clientId}}is-invalid{{/if}}" id="clientId"
                    name="clientId" value="{{values.clientId}}" placeholder="Enter client ID&mldr;" />
                {{#if errors.clientId}}
                <span class="invalid-feedback">{{errors.clientId}}</span>
                {{/if}}
                <small class="form-text text-muted">OAuth2 client id.</small>
            </div>

            <div class="form-group">

                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">{{values.provider}}ClientSecret</a>]
                </div>

                <label for="clientSecret">Client Secret</label>

                <input type="text" class="form-control {{#if errors.clientSecret}}is-invalid{{/if}}" id="clientSecret"
                    name="clientSecret" value="{{values.clientSecret}}" {{#if hasClientSecret}}
                    placeholder="Client secret is set but not shown&mldr;" {{else}}
                    placeholder="Enter client secret&mldr;" {{/if}} />
                {{#if errors.clientSecret}}
                <span class="invalid-feedback">{{errors.clientSecret}}</span>
                {{/if}}
                <small class="form-text text-muted">OAuth2 client secret.</small>
            </div>

            {{#if activeOutlook}}
            <div class="form-group">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">{{values.provider}}Authority</a>]
                </div>

                <label for="authority">Supported account types</label>

                <input type="text" class="form-control {{#if errors.authority}}is-invalid{{/if}}" id="clientSecret"
                    name="authority" value="{{values.authority}}" />
                {{#if errors.authority}}
                <span class="invalid-feedback">{{errors.authority}}</span>
                {{/if}}
                <small class="form-text text-muted">Supported account types. Usually "consumers" for Microsoft
                    accounts,
                    "organizations" for Organisation accounts only and "common" for both type of
                    accounts.</small>
            </div>
            {{/if}}

            <div class="form-group">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">{{values.provider}}RedirectUrl</a>]
                </div>

                <label for="redirectUrl">Redirect URL</label>
                <input type="url" class="form-control {{#if errors.redirectUrl}}is-invalid{{/if}}" id="redirectUrl"
                    name="redirectUrl" value="{{values.redirectUrl}}" />
                {{#if errors.redirectUrl}}
                <span class="invalid-feedback">{{errors.redirectUrl}}</span>
                {{/if}}
                <small class="form-text text-muted">Redirect URL for OAuth2. If you are using EmailEngine's OAuth2 flow,
                    then set it to <code>{{defaultRedirectUrl}}</code></small>
            </div>
            {{/if}}

        </div>
    </div>

    <div class="card mb-4">
        <a href="#setupScopes" class="d-block card-header py-3 {{#unless values.extraScopes}} collapsed{{/unless}}"
            data-toggle="collapse" role="button" aria-expanded="true" aria-controls="setupScopes">
            <h6 class="m-0 font-weight-bold text-primary">Additional scopes</h6>
        </a>
        <div class="collapse {{#if values.extraScopes}} show{{/if}}" id="setupScopes">
            <div class="card-body">

                <p>Here you can list additional OAuth2 scopes that EmailEngine should ask for. This is mainly needed
                    when you want to re-use the access tokens generated by EmailEngine in other parts of your
                    application.</p>

                {{#if activeGmail}}
                <div class="alert alert-info">When adding new scopes, ensure that related APIs are
                    enabled for your OAuth2 app (look for <em>Enabled APIs & services</em> in <a
                        href="https://console.cloud.google.com/apis/dashboard" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">Google Cloud Console</a>)
                    before registering accounts with these permissions. Otherwise, token generations will fail.
                </div>
                {{/if}}

                {{#if activeGmailService}}
                <div class="alert alert-info">When adding new scopes, ensure that related APIs are
                    enabled for your OAuth2 app (look for <em>Enabled APIs & services</em> in <a
                        href="https://console.cloud.google.com/apis/dashboard" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">Google Cloud Console</a>)
                    before registering accounts with these permissions. Otherwise, token generations will fail.
                </div>
                {{/if}}

                <div class="form-group">
                    <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                            target="_blank">{{values.provider}}ExtraScopes</a>]
                    </div>

                    <label for="extraScopes">List of OAuth2 scopes</label>

                    <textarea class="form-control {{#if errors.extraScopes}}is-invalid{{/if}}" id="extraScopes"
                        name="extraScopes" rows="5" spellcheck="false" data-enable-grammarly="false"
                        placeholder="Scope identifiers like &quot;https://mail.google.com/&quot;&mldr;">{{values.extraScopes}}</textarea>
                    {{#if errors.extraScopes}}
                    <span class="invalid-feedback">{{errors.extraScopes}}</span>
                    {{/if}}
                    <small class="form-text text-muted">Keep one scope per line</small>
                </div>


            </div>
        </div>
    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-cog"></i>
            </span>
            <span class="text">Update settings</span>
        </button>
    </div>
</form>

<script>

    document.addEventListener('DOMContentLoaded', () => {

        let serviceFileElm = document.getElementById('serviceFile');
        if (serviceFileElm) {
            serviceFileElm.addEventListener('click', e => {
                e.preventDefault();
                browseFileContents('text').then(jsonStr => {
                    if (!jsonStr) {
                        return
                    }

                    let data;
                    try {
                        data = JSON.parse(jsonStr);
                    } catch (err) {
                        return showToast('Selected file is not JSON formatted', 'alert-triangle');
                    }

                    if (data.type !== 'service_account') {
                        return showToast('Selected file is not in a service key format', 'alert-triangle');
                    }

                    if (!data.client_id || !data.private_key) {
                        return showToast('Selected file does not contain required values', 'alert-triangle');
                    }

                    document.getElementById('serviceClient').value = data.client_id;
                    document.getElementById('serviceKey').value = data.private_key;

                    return showToast('Loaded service values from file', 'check-circle');

                }).catch(err => {
                    console.error(err);
                    return showToast('Failed to load service key file', 'alert-triangle');
                });
            });
        }

    });

</script>