<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">

        <small><i class="fas fa-server fa-fw"></i></small>
        SMTP Interface
        <span class="badge badge-{{serverState.label.type}} state-info" data-type="smtp">
            {{#if serverState.label.spinner}}
            <i class="fas fa-spinner fa-spin fa-fw"></i>
            {{/if}}

            {{serverState.label.name}}</span>
    </h1>
</div>

<p>To queue an email for delivery with EmailEngine, you can use the Simple Mail Transfer Protocol (SMTP)
    interface or the <a href="https://api.emailengine.app/#tag/submit" target="_blank">message submission API</a>. The
    preferred way to send emails would be the message submission API. EmailEngine provides the SMTP interface for legacy
    applications that can only send emails using the SMTP protocol.</p>
<p class="mb-4">On this page, you can configure the settings for the SMTP interface.</p>

<form method="post" action="/admin/config/smtp">
    <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />

    <div class="card mt-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">General settings</h6>
        </div>
        <div class="card-body">
            <div class="form-group form-check">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/settings/postV1Settings"
                        target="_blank">smtpServerEnabled</a>]
                </div>

                <input type="checkbox" class="form-check-input {{#if errors.smtpServerEnabled}}is-invalid{{/if}}"
                    id="smtpServerEnabled" name="smtpServerEnabled" {{#if values.smtpServerEnabled}}checked{{/if}} />
                <label class="form-check-label" for="smtpServerEnabled">Enable SMTP Interface</label>
                {{#if errors.smtpServerEnabled}}
                <span class="invalid-feedback">{{errors.smtpServerEnabled}}</span>
                {{/if}}
            </div>

            <div class="form-group">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/settings/postV1Settings"
                        target="_blank">smtpServerPort</a>]
                </div>

                <label for="smtpServerPort">SMTP port</label>

                <input type="number"
                    class="form-control trigger-example-render {{#if errors.smtpServerPort}}is-invalid{{/if}}"
                    id="smtpServerPort" name="smtpServerPort" value="{{values.smtpServerPort}}" />

                {{#if errors.smtpServerPort}}
                <span class="invalid-feedback">{{errors.smtpServerPort}}</span>
                {{/if}}
                <small class="form-text text-muted">The port number to bound to. Port numbers lower than 1024 might not
                    be allowed.</small>
            </div>

            <div class="form-group">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/settings/postV1Settings"
                        target="_blank">smtpServerHost</a>]
                </div>

                <label for="smtpServerHost">SMTP host</label>

                <input type="text"
                    class="form-control basicAutoComplete trigger-example-render {{#if errors.smtpServerHost}}is-invalid{{/if}}"
                    id="smtpServerHost" name="smtpServerHost" value="{{values.smtpServerHost}}" data-lpignore="true"
                    autocomplete="off" />

                {{#if errors.smtpServerHost}}
                <span class="invalid-feedback">{{errors.smtpServerHost}}</span>
                {{/if}}
                <small class="form-text text-muted">IP address to bind to. Set to empty or use "0.0.0.0" to listen on
                    all interfaces.</small>
            </div>

            <div class="form-group form-check">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/settings/postV1Settings"
                        target="_blank">smtpServerProxy</a>]
                </div>

                <input type="checkbox" class="form-check-input {{#if errors.smtpServerProxy}}is-invalid{{/if}}"
                    id="smtpServerProxy" name="smtpServerProxy" {{#if values.smtpServerProxy}}checked{{/if}} />
                <label class="form-check-label" for="smtpServerProxy">Enable PROXY protocol</label>
                {{#if errors.smtpServerProxy}}
                <span class="invalid-feedback">{{errors.smtpServerProxy}}</span>
                {{/if}}
                <small class="form-text text-muted">Use this if the SMTP interface is proxied by HAProxy using the
                    <code>send-proxy</code> option.</small>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Authentication settings</h6>
        </div>
        <div class="card-body">
            <div class="form-group form-check">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/settings/postV1Settings"
                        target="_blank">smtpServerAuthEnabled</a>]
                </div>

                <input type="checkbox"
                    class="form-check-input trigger-example-render {{#if errors.smtpServerAuthEnabled}}is-invalid{{/if}}"
                    id="smtpServerAuthEnabled" name="smtpServerAuthEnabled" {{#if
                    values.smtpServerAuthEnabled}}checked{{/if}} />
                <label class="form-check-label" for="smtpServerAuthEnabled">Enable authentication</label>
                {{#if errors.smtpServerAuthEnabled}}
                <span class="invalid-feedback">{{errors.smtpServerAuthEnabled}}</span>
                {{/if}}
            </div>

            <div class="alert alert-secondary mb-3">
                Use the account ID as the SMTP username. For SMTP passwords, either set the shared SMTP password below
                or use <a href="/admin/tokens">access tokens</a> with the <em>SMTP</em> scope.
            </div>

            <div class="form-group">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/settings/postV1Settings"
                        target="_blank">smtpServerPassword</a>]
                </div>

                <label for="smtpServerPassword">SMTP password</label>
                <div class="input-group">
                    <input type="password"
                        class="form-control trigger-example-render {{#if errors.smtpServerPassword}}is-invalid{{/if}}"
                        id="smtpServerPassword" name="smtpServerPassword" value="{{values.smtpServerPassword}}"
                        {{#unless values.smtpServerPassword}}placeholder="Shared SMTP password is not set" {{/unless}}
                        data-lpignore="true" autocomplete="off" />

                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="showPassword"><i
                                class="fas fa-eye"></i></button>
                    </div>
                </div>

                {{#if errors.smtpServerPassword}}
                <span class="invalid-feedback">{{errors.smtpServerPassword}}</span>
                {{/if}}
                <small class="form-text text-muted">Shared password for all accounts. Leave this value empty to disable
                    global shared password.</small>
            </div>
        </div>

    </div>

    <div class="card mt-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">TLS settings</h6>
        </div>
        <div class="card-body">
            <div class="form-group form-check">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/settings/postV1Settings"
                        target="_blank">smtpServerTLSEnabled</a>]
                </div>

                <input type="checkbox"
                    class="form-check-input trigger-example-render {{#if errors.smtpServerTLSEnabled}}is-invalid{{/if}}"
                    id="smtpServerTLSEnabled" name="smtpServerTLSEnabled" {{#if
                    values.smtpServerTLSEnabled}}checked{{/if}} />
                <label class="form-check-label" for="smtpServerTLSEnabled">Enable TLS</label>
                {{#if errors.smtpServerTLSEnabled}}
                <span class="invalid-feedback">{{errors.smtpServerTLSEnabled}}</span>
                {{/if}}
                <small class="form-text text-muted" id="smtpServerTLSInfo"></small>
            </div>

        </div>

    </div>

    <div class="card mt-4 mb-4">
        <a href="#showHelp" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="showHelp">
            <h6 class="m-0 font-weight-bold text-primary">Authentication instructions</h6>
        </a>
        <div class="collapse" id="showHelp">
            <div class="card-body">
                <p>If authentication is <strong>enabled</strong> then SMTP username is the account ID you want to send
                    mail as.</p>

                <p>If authentication is <strong>disabled</strong>, then the all messages must include a special header
                    <code>X-EE-Account</code> that identifies the account to be used for sending.
                </p>

                <ul class="nav nav-tabs mb-3" id="code-examples" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="example-nodemailer-tab" data-toggle="tab"
                            href="#example-nodemailer" role="tab" aria-controls="example-nodemailer"
                            aria-selected="true">Nodemailer</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="example-phpmailer-tab" data-toggle="tab" href="#example-phpmailer"
                            role="tab" aria-controls="example-phpmailer" aria-selected="false">PHPMailer</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="example-nodemailer" role="tabpanel"
                        aria-labelledby="example-nodemailer-tab">

                        <pre><code id="example-nodemailer-code"></code></pre>

                    </div>

                    <div class="tab-pane" id="example-phpmailer" role="tabpanel"
                        aria-labelledby="example-phpmailer-tab">

                        <pre><code id="example-phpmailer-code"></code></pre>

                    </div>
                </div>

                <div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input trigger-example-render"
                            id="exampleShowPassword" />
                        <label class="form-check-label" for="exampleShowPassword">Show password</label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mb-4 mt-4">
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-cog"></i>
            </span>
            <span class="text">Update settings</span>
        </button>
    </div>

</form>

<input type="hidden" id="availableAddresses" value="{{availableAddresses}}">

<script>
    document.addEventListener('DOMContentLoaded', () => {

        let showBt = document.getElementById('showPassword');
        let serviceSecretElm = document.getElementById('smtpServerPassword');

        let showSecret = () => {
            let current = serviceSecretElm.getAttribute('type')
            serviceSecretElm.setAttribute('type', current === 'text' ? 'password' : 'text');
            showBt.blur()
        }

        showBt.addEventListener('click', showSecret);

        let availableAddresses = document.getElementById('availableAddresses').value.split(',').map(e => e.trim()).filter(e => e);
        $('.basicAutoComplete').autoComplete({
            resolver: 'custom',
            events: {
                search: function (query, callback) {
                    callback(availableAddresses.filter(a => a.indexOf(query) >= 0))
                }
            },
            preventEnter: true,
            minLength: 1
        });


        let codeTemplates = {
            nodemailer: {
                lang: 'javascript',
                codeAuth: `const transporter = nodemailer.createTransport({
    host: 'HOST',
    port: PORT,
    secure: NODEMAILER_TLS,
    auth: {
        user: 'USERNAME',
        pass: 'PASSWORD'
    }
}});`,
                codeNoAuth: `const transporter = nodemailer.createTransport({
    host: 'HOST',
    port: PORT,
    secure: NODEMAILER_TLS,
    auth: false
}}, {
    // default message fields
    headers: {
        // provide sending account id via this header
        'X-EE-Account': 'USERNAME'
    }
});`},

            phpmailer: {
                lang: 'php',
                codeAuth: `$mail = new PHPMailer(true);
$mail->isSMTP();
$mail->Host = 'HOST';
$mail->SMTPAuth = true;
$mail->Username = 'USERNAME';
$mail->Password = 'PASSWORD';
$mail->SMTPSecure = 'PHPMAILER_TLS';
$mail->Port = PORT;`,
                codeNoAuth: `$mail = new PHPMailer(true);
$mail->isSMTP();
$mail->Host = 'HOST';
$mail->SMTPAuth = false;
$mail->SMTPSecure = 'PHPMAILER_TLS';
$mail->Port = PORT;

// provide sending account id via this header
$mail->addCustomHeader('X-EE-Account', 'USERNAME');
`}
        };

        let renderTemplate = (templateKey) => {
            let template = codeTemplates[templateKey][document.getElementById('smtpServerAuthEnabled').checked ? 'codeAuth' : 'codeNoAuth'];

            template = `// Replace "USERNAME" with the account id of a registered user you want to send mail as
// Replace "HOST" with the hostname or IP address of the SMTP interface
// NB! Make sure that firewall settings allow accessing the SMTP interface

` + template;

            let code = template.
                replace(/HOST/g, window.location.hostname).
                replace(/PORT/g, Number(document.getElementById('smtpServerPort').value) || 0).
                replace(/NODEMAILER_TLS/g, document.getElementById('smtpServerTLSEnabled').checked ? 'true' : 'false').
                replace(/PHPMAILER_TLS/g, document.getElementById('smtpServerTLSEnabled').checked ? 'tls' : '').
                replace(/USERNAME/g, 'account_id').
                replace(/PASSWORD/g, document.getElementById('exampleShowPassword').checked ? document.getElementById('smtpServerPassword').value : '******');
            return hljs.highlight(code, { language: codeTemplates[templateKey].lang }).value;
        }

        let renderExamples = () => {
            document.getElementById('example-nodemailer-code').innerHTML = renderTemplate('nodemailer');
            document.getElementById('example-phpmailer-code').innerHTML = renderTemplate('phpmailer');

            document.getElementById('exampleShowPassword').disabled = !document.getElementById('smtpServerAuthEnabled').checked;
        }

        for (let elm of document.querySelectorAll('.trigger-example-render')) {
            elm.addEventListener('change', renderExamples);
        }

        renderExamples();

        let loadingCertData = false;
        let loadedCertData = false;

        function loadCertData() {
            loadingCertData = true;
            document.getElementById('smtpServerTLSInfo').textContent = 'Fetching certificate data…';

            fetch('/admin/config/smtp/certificate', {
                method: 'post',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({
                    crumb: document.getElementById('crumb').value
                })
            }).then(res => {
                if (!res.ok) {
                    throw new Error(`HTTP error! status: ${res.status}`);
                }
                return res.json()
            }).then(data => {
                loadingCertData = false;
                loadedCertData = true;

                document.getElementById('smtpServerTLSInfo').textContent = JSON.stringify(data);
            }).catch(err => {
                loadingCertData = false;
                document.getElementById('smtpServerTLSInfo').textContent = err.message;
            });
        }

        function checkLoadCerts() {
            if (document.getElementById('smtpServerTLSEnabled').checked && !loadingCertData && !loadedCertData) {
                loadCertData();
            }
        }

        document.getElementById('smtpServerTLSEnabled').addEventListener('click', checkLoadCerts);
        document.getElementById('smtpServerTLSEnabled').addEventListener('change', checkLoadCerts);

        checkLoadCerts();
    });
</script>