<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Authentication required</h1>
</div>
<form class="user" method="post" action="/admin/login" style="min-height: 14rem;">
    <input type="hidden" id="crumb" name="crumb" value="{{crumb}}" />
    <input type="hidden" name="next" value="{{values.next}}" />

    <div class="form-group">
        <input type="text" class="form-control form-control-user {{#if errors.username}}is-invalid{{/if}}"
            id="exampleInputEmail" name="username" aria-describedby="emailHelp" placeholder="Username&mldr;"
            value="{{values.username}}">
        {{#if errors.username}}
        <span class="invalid-feedback">{{errors.username}}</span>
        {{/if}}
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user {{#if errors.password}}is-invalid{{/if}}"
            id="exampleInputPassword" name="password" placeholder="Password&mldr;">
        {{#if errors.password}}
        <span class="invalid-feedback">{{errors.password}}</span>
        {{/if}}
    </div>

    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input {{#if errors.remember}}is-invalid{{/if}}"
                id="customCheck" name="remember" {{#if values.remember}}checked{{/if}}>
            <label class="custom-control-label" for="customCheck">Remember
                Me</label>
            {{#if errors.remember}}
            <span class="invalid-feedback">{{errors.remember}}</span>
            {{/if}}
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Login
        </button>
    </div>

    {{#if providers.okta}}
    <hr>
    <div>
        <a href="/admin/login/okta" class="btn btn-primary btn-user btn-block">
            Okta SSO login
        </a>
    </div>
    {{/if}}

</form>
<hr>
<div class="text-center">
    <a class="small" href="https://emailengine.app/reset-password" target="_blank"
        referrerpolicy="{{referrerPolicy}}">Forgot
        Password?</a>
</div>