{{> security_header}}

<nav aria-label="breadcrumb" class="mt-4 mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/account/security">Security</a></li>
        <li class="breadcrumb-item active" aria-current="page">Password</li>
    </ol>
</nav>

<form method="post" action="/admin/account/password">
    <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />

    <div class="card mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">

                {{#if authData.enabled}}
                Change account password
                {{else}}
                Set account password
                {{/if}}

            </h6>
        </div>

        <div class="card-body">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control {{#if errors.username}}is-invalid{{/if}}" id="username" min="0"
                    name="username" value="{{username}}" data-lpignore="true" autocomplete="off" readonly />
                {{#if errors.username}}
                <span class="invalid-feedback">{{errors.username}}</span>
                {{/if}}
            </div>

            {{#if authData.enabled}}
            <div class="form-group">
                <label for="password0">Current password</label>
                <input type="password" class="form-control {{#if errors.password0}}is-invalid{{/if}}" id="password0"
                    name="password0" autocomplete="current-password" required />
                {{#if errors.password0}}
                <span class="invalid-feedback">{{errors.password0}}</span>
                {{/if}}

                <small class="form-text text-muted">Don't know the current password? You need to <a
                        href="https://emailengine.app/reset-password" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">reset</a> the password from the command line.</small>
            </div>
            {{/if}}

            <div class="form-group">
                <label for="password">New password</label>
                <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password"
                    name="password" autocomplete="new-password" required />
                {{#if errors.password}}
                <span class="invalid-feedback">{{errors.password}}</span>
                {{/if}}
            </div>

            <div class="form-group">
                <label for="password2">Repeat new password</label>
                <input type="password" class="form-control {{#if errors.password2}}is-invalid{{/if}}" id="password2"
                    name="password2" autocomplete="new-password" required />
                {{#if errors.password2}}
                <span class="invalid-feedback">{{errors.password2}}</span>
                {{/if}}
            </div>

        </div>
    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-user-shield"></i>
            </span>
            <span class="text">
                {{#if authData.enabled}}
                Update password
                {{else}}
                Set password
                {{/if}}
            </span>
        </button>
    </div>
</form>