{{#> oauth_config_header}}
<div class="dropdown relative inline-flex">
    <button type="button" id="create-app-dropdown" class="dropdown-toggle btn btn-primary" aria-haspopup="menu"
        aria-expanded="false">
        <span class="icon-[tabler--plus] size-4"></span> Create OAuth2 app
        <span class="icon-[tabler--chevron-down] size-4"></span>
    </button>
    <ul class="dropdown-menu dropdown-open:opacity-100 hidden min-w-52" role="menu" aria-orientation="vertical"
        aria-labelledby="create-app-dropdown">
        <li><a class="dropdown-item" href="{{newLink}}?provider=gmail">Gmail</a></li>
        <li><a class="dropdown-item" href="{{newLink}}?provider=gmailService">Gmail Service Accounts</a></li>
        <li><a class="dropdown-item" href="{{newLink}}?provider=outlook">Outlook (delegated)</a></li>
        <li><a class="dropdown-item" href="{{newLink}}?provider=outlookService">Outlook (application)</a></li>
        <li><a class="dropdown-item" href="{{newLink}}?provider=mailRu">Mail.ru</a></li>
    </ul>
</div>
{{/oauth_config_header}}

{{> oauth_tabs}}

{{#if apps}}
<div class="card bg-base-100 shadow-md mb-6">
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Base scopes</th>
                    <th>Provider ID
                        {{#> ui/tooltip text='Use this value as the "oauth2.provider" property, when registering email accounts using the API.'}}<span
                            class="icon-[tabler--help-circle] size-4 align-text-bottom text-base-content/50"></span>{{/ui/tooltip}}
                    </th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {{#each apps}}
                <tr class="hover:bg-base-200/60">
                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/config/oauth/app/" id) label="Open OAuth2 app"}}<strong>{{name}}</strong>
                    </td>

                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/config/oauth/app/" id)}}{{description}}
                    </td>

                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/config/oauth/app/" id)}}{{providerData.comment}}
                    </td>

                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/config/oauth/app/" id)}}{{baseScopesText}}
                    </td>

                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/config/oauth/app/" id)}}
                        {{id}}
                    </td>

                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/config/oauth/app/" id)}}
                        {{#if enabled}}

                        {{#if meta.authFlag}}
                        {{> ui/badge label="Failing" variant="error"}}
                        {{else}}
                        {{> ui/badge label="Enabled" variant="success"}}
                        {{/if}}
                        {{else}}
                        {{> ui/badge label="Disabled" variant="warning"}}
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{> ui/pagination showPaging=showPaging prevPage=prevPage nextPage=nextPage pageLinks=pageLinks}}
</div>
{{else}}
{{#> ui/card}}
        <p>
            {{#if firstPage}}
            No OAuth2 apps have been registered yet.
            {{else}}
            No OAuth2 apps found.
            {{/if}}
        </p>
    
{{/ui/card}}
{{/if}}
