<div class="card mb-4">

    <div class="card-body">

        <div class="form-group">

            <label for="name">
                Application name
            </label>

            {{#if appData.legacy}}
            <input type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name"
                value="{{appData.name}}" placeholder="Enter application name, eg. &quot;My App&quot;&mldr;" disabled />
            {{else}}
            <input type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" name="name"
                value="{{values.name}}" placeholder="Enter application name, eg. &quot;My App&quot;&mldr;" required />
            {{/if}}

            {{#if errors.name}}
            <span class="invalid-feedback">{{errors.name}}</span>
            {{/if}}
            <small class="form-text text-muted">Application name used when listing apps.</small>
        </div>

        <div class="form-group">

            <label for="description">
                Description
            </label>

            {{#if appData.legacy}}
            <input type="text" class="form-control {{#if errors.description}}is-invalid{{/if}}" id="description"
                value="{{appData.description}}" placeholder="" disabled />
            {{else}}
            <input type="text" class="form-control {{#if errors.description}}is-invalid{{/if}}" id="description"
                name="description" value="{{values.description}}" placeholder="" />
            {{/if}}

            {{#if errors.description}}
            <span class="invalid-feedback">{{errors.description}}</span>
            {{/if}}
            <small class="form-text text-muted">Optional application description or a comment.</small>
        </div>

        <div class="form-group">

            <label for="title">
                Display title
            </label>

            {{#if appData.legacy}}
            <input type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" id="title"
                value="{{appData.title}}" placeholder="" disabled />
            {{else}}
            <input type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" id="title" name="title"
                value="{{values.title}}" placeholder="" />
            {{/if}}

            {{#if errors.title}}
            <span class="invalid-feedback">{{errors.title}}</span>
            {{/if}}
            <small class="form-text text-muted">Optional display title next to the application button on the account
                type selection page.</small>
        </div>

        {{#if activeGmailService}}

        <div class="form-group">
            <button type="button" class="btn btn-info btn-icon-split" id="serviceFile">
                <span class="icon text-white-50">
                    <i class="fas fa-file-import"></i>
                </span>
                <span class="text">Select service key file&#x2026;</span>
            </button>
            <small class="form-text text-muted">Select the JSON file you received after generating a new service key to
                retrieve the service values.</small>
        </div>

        <div class="form-group">

            <label for="serviceClient">
                Service client
            </label>
            <input type="text" class="form-control {{#if errors.serviceClient}}is-invalid{{/if}}" id="serviceClient"
                name="serviceClient" value="{{values.serviceClient}}" placeholder="Enter service client ID&mldr;" />
            {{#if errors.serviceClient}}
            <span class="invalid-feedback">{{errors.serviceClient}}</span>
            {{/if}}
            <small class="form-text text-muted">OAuth2 Service Client ID</small>
        </div>

        <div class="form-group">

            <label for="serviceKey">Secret service key</label>

            <textarea class="form-control droptxt autoselect {{#if errors.serviceKey}}is-invalid{{/if}}" id="serviceKey"
                name="serviceKey" rows="4" data-enable-grammarly="false" spellcheck="false" {{#if
                hasServiceKey}}placeholder="Service key is set but not shown&mldr;" {{else}}
                placeholder="Starts with &quot;-----BEGIN PRIVATE KEY-----&quot;&mldr;"
                {{/if}}>{{values.serviceKey}}</textarea>
            {{#if errors.serviceKey}}
            <span class="invalid-feedback">{{errors.serviceKey}}</span>
            {{/if}}
        </div>

        {{else}}

        <div class="form-group form-check">

            <input type="checkbox" class="form-check-input {{#if errors.enabled}}is-invalid{{/if}}" id="enabled"
                name="enabled" {{#if values.enabled}}checked{{/if}} />
            <label class="form-check-label" for="enabled">Enable this app</label>
            {{#if errors.enabled}}
            <span class="invalid-feedback">{{errors.enabled}}</span>
            {{/if}}
            <small class="form-text text-muted">If enabled, then <em>"{{providerData.comment}}"</em> is shown as an
                account type option when adding an account using the hosted authentication form.</small>
        </div>

        <div class="form-group">

            <label for="clientId">
                {{#if activeGmail}}
                Client Id
                {{/if}}

                {{#if activeMailRu}}
                Client Id
                {{/if}}

                {{#if activeOutlook}}
                Azure Application Id
                {{/if}}
            </label>
            <input type="text" class="form-control {{#if errors.clientId}}is-invalid{{/if}}" id="clientId"
                name="clientId" value="{{values.clientId}}" placeholder="Enter client ID&mldr;" />
            {{#if errors.clientId}}
            <span class="invalid-feedback">{{errors.clientId}}</span>
            {{/if}}
            <small class="form-text text-muted">OAuth2 client id.</small>
        </div>

        <div class="form-group">

            <label for="clientSecret">Client Secret</label>

            <input type="text" class="form-control {{#if errors.clientSecret}}is-invalid{{/if}}" id="clientSecret"
                name="clientSecret" value="{{values.clientSecret}}" {{#if hasClientSecret}}
                placeholder="Client secret is set but not shown&mldr;" {{else}} placeholder="Enter client secret&mldr;"
                {{/if}} />
            {{#if errors.clientSecret}}
            <span class="invalid-feedback">{{errors.clientSecret}}</span>
            {{/if}}
            <small class="form-text text-muted">OAuth2 client secret.</small>
        </div>

        {{#if activeOutlook}}
        <div class="form-group">
            <label for="authority">Supported account types</label>

            <input type="text" class="form-control {{#if errors.authority}}is-invalid{{/if}}" id="authority"
                name="authority" value="{{values.authority}}" />
            {{#if errors.authority}}
            <span class="invalid-feedback">{{errors.authority}}</span>
            {{/if}}
            <small class="form-text text-muted">Supported account types. Usually, <em>"consumers"</em> is for Microsoft
                accounts, <em>"organizations"</em> for Organisation accounts, and <em>"common"</em> for both types of
                accounts. You can also specify organization's <em data-toggle="tooltip" data-placement="top"
                    title="Directory ID is a UUID value like &quot;f8cdef31-a31e-4b4a-93e4-5f571e91255a&quot;"
                    style="cursor: default;">Directory
                    ID</em> to only allow members of a specific organization to use
                this app.</small>
        </div>
        {{/if}}

        <div class="form-group">
            <label for="redirectUrl">Redirect URL</label>
            <input type="url" class="form-control {{#if errors.redirectUrl}}is-invalid{{/if}}" id="redirectUrl"
                name="redirectUrl" value="{{values.redirectUrl}}" />
            {{#if errors.redirectUrl}}
            <span class="invalid-feedback">{{errors.redirectUrl}}</span>
            {{/if}}
            <small class="form-text text-muted">Redirect URL for OAuth2. If you are using EmailEngine's OAuth2 flow,
                then set it to <code>{{defaultRedirectUrl}}</code></small>
        </div>
        {{/if}}

    </div>
</div>

{{#featureFlag "gmail api"}}
{{! show this section only if the Gmail API feature flag is enabled}}

{{#if activeGmail}}

<div class="card mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Base scopes</h6>
    </div>
    <div class="card-body">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="baseScopes" id="baseScopesImap" value="imap" {{#unless
                baseScopesApi}}checked{{/unless}}>
            <label class="form-check-label" for="baseScopesImap">
                IMAP and SMTP
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="baseScopes" id="baseScopesAPI" value="api" {{#if
                baseScopesApi}}checked{{/if}}>
            <label class="form-check-label" for="baseScopesAPI">
                Gmail API
            </label>
        </div>


    </div>

    <div class="card-footer text-muted">
        <small><strong>Note:</strong>
            <a href="/admin/config/imap-proxy">IMAP Proxy Interface</a> is only available for email accounts registered
            using the IMAP and SMTP base scope.</small>
    </div>
</div>
{{/if}}
{{/featureFlag}}

<div class="card mb-4">
    <a href="#setupScopes" class="d-block card-header py-3 {{#unless values.extraScopes}} collapsed{{/unless}}"
        data-toggle="collapse" role="button" aria-expanded="true" aria-controls="setupScopes">
        <h6 class="m-0 font-weight-bold text-primary">Additional scopes</h6>
    </a>
    <div class="collapse {{#if values.extraScopes}} show{{/if}}" id="setupScopes">
        <div class="card-body">

            <p>Here you can list additional OAuth2 scopes that EmailEngine should ask for. This is mainly needed
                when you want to re-use the access tokens generated by EmailEngine in other parts of your
                application.</p>

            {{#if activeGmail}}
            <div class="alert alert-info">When adding new scopes, ensure that related APIs are
                enabled for your OAuth2 app (look for <em>Enabled APIs & services</em> in <a
                    href="https://console.cloud.google.com/apis/dashboard" target="_blank"
                    referrerpolicy="{{referrerPolicy}}">Google Cloud Console</a>)
                before registering accounts with these permissions. Otherwise, token generations will fail.
            </div>
            {{/if}}

            {{#if activeGmailService}}
            <div class="alert alert-info">When adding new scopes, ensure that related APIs are
                enabled for your OAuth2 app (look for <em>Enabled APIs & services</em> in <a
                    href="https://console.cloud.google.com/apis/dashboard" target="_blank"
                    referrerpolicy="{{referrerPolicy}}">Google Cloud Console</a>)
                before registering accounts with these permissions. Otherwise, token generations will fail.
            </div>
            {{/if}}

            {{#if activeOutlook}}
            <div class="alert alert-info">EmailEngine only operates on <code>https://outlook.office.com/</code>
                APIs, not <code>https://graph.microsoft.com/</code>. You can't mix APIs from different endpoints in
                a single application.
            </div>
            {{/if}}

            <div class="form-group">
                <label for="extraScopes">List of OAuth2 scopes</label>

                <textarea class="form-control text-monospace {{#if errors.extraScopes}}is-invalid{{/if}}"
                    id="extraScopes" name="extraScopes" rows="5" spellcheck="false" data-enable-grammarly="false"
                    placeholder="Scope identifiers like &quot;https://mail.google.com/&quot;&mldr;">{{values.extraScopes}}</textarea>
                {{#if errors.extraScopes}}
                <span class="invalid-feedback">{{errors.extraScopes}}</span>
                {{/if}}
                <small class="form-text text-muted">Keep one scope per line</small>
            </div>

        </div>
    </div>
</div>

<div class="card mb-4">
    <a href="#skipScopes" class="d-block card-header py-3 {{#unless values.skipScopes}} collapsed{{/unless}}"
        data-toggle="collapse" role="button" aria-expanded="true" aria-controls="setupScopes">
        <h6 class="m-0 font-weight-bold text-primary">Disabled scopes</h6>
    </a>
    <div class="collapse {{#if values.skipScopes}} show{{/if}}" id="skipScopes">
        <div class="card-body">

            <p>Here you can list OAuth2 scopes that EmailEngine should not use. This is mainly needed
                when you want to disable some base scopes like <code>SMTP.Send</code> in Outlook.</p>

            <div class="form-group">
                <label for="skipScopes">List of disabled OAuth2 scopes</label>

                <textarea class="form-control text-monospace {{#if errors.skipScopes}}is-invalid{{/if}}" id="skipScopes"
                    name="skipScopes" rows="5" spellcheck="false" data-enable-grammarly="false"
                    placeholder="Scope identifiers like &quot;SMTP.Send&quot;&mldr;">{{values.skipScopes}}</textarea>
                {{#if errors.skipScopes}}
                <span class="invalid-feedback">{{errors.skipScopes}}</span>
                {{/if}}
                <small class="form-text text-muted">Keep one scope per line</small>
            </div>

        </div>
    </div>
</div>