<ul class="nav nav-tabs" id="testResultTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="result-tabs-spf-tab" data-toggle="tab" data-target="#result-tabs-spf" href="#"
            role="tab" aria-controls="result-tabs-spf" aria-selected="true">SPF</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="result-tabs-dkim-tab" data-toggle="tab" data-target="#result-tabs-dkim" href="#"
            role="tab" aria-controls="result-tabs-dkim" aria-selected="false">DKIM</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="result-tabs-dmarc-tab" data-toggle="tab" data-target="#result-tabs-dmarc" href="#"
            role="tab" aria-controls="result-tabs-dmarc" aria-selected="false">DMARC</a>
    </li>
</ul>
<div class="tab-content mt-3" id="testResultContent">
    <div class="tab-pane show active" id="result-tabs-spf" role="tabpanel" aria-labelledby="result-tabs-spf-tab">
        <dl>
            <dt>Envelope address</dt>
            <dd>{{spf.[envelope-from]}}</dd>

            <dt>IP address</dt>
            <dd class="text-monospace">{{spf.[client-ip]}}</dd>

            <dt>DNS record</dt>
            <dd class="text-monospace">{{spf.rr}}</dd>

            <dt>Result</dt>
            <dd>
                {{#equals spf.status.result "pass"}}
                <span class="badge badge-success">{{spf.status.result}}</span> {{spf.status.comment}}
                {{/equals}}

                {{#equals spf.status.result "info"}}
                <span class="badge badge-warning">{{spf.status.result}}</span> {{spf.status.comment}}
                {{/equals}}

                {{#equals spf.status.result "fail"}}
                <span class="badge badge-danger">{{spf.status.result}}</span> {{spf.status.comment}}
                {{/equals}}

                {{#equals spf.status.result "neutral"}}
                <span class="badge badge-light">{{spf.status.result}}</span> {{spf.status.comment}}
                {{/equals}}

                {{#equals spf.status.result "none"}}
                <span class="badge badge-light">{{spf.status.result}}</span> {{spf.status.comment}}
                {{/equals}}

                {{#equals spf.status.result "permerror"}}
                <span class="badge badge-secondary">{{spf.status.result}}</span> {{spf.status.comment}}
                {{/equals}}

                {{#equals spf.status.result "temperror"}}
                <span class="badge badge-secondary">{{spf.status.result}}</span> {{spf.status.comment}}
                {{/equals}}
            </dd>
        </dl>
    </div>
    <div class="tab-pane" id="result-tabs-dkim" role="tabpanel" aria-labelledby="result-tabs-dkim-tab">

        {{#each dkim.results}}

        <p>Signature {{inc @index 1}}</p>

        <dl>

            {{#if signingDomain}}
            <dt>Signed by</dt>
            <dd class="text-monospace">{{signingDomain}}</dd>
            {{/if}}

            {{#if selector}}
            <dt>with selector</dt>
            <dd class="text-monospace">{{selector}}</dd>
            {{/if}}

            {{#equals status.result "pass"}}

            {{#if status.aligned}}
            <span class="badge badge-success">{{status.result}}</span>
            {{else}}
            <span class="badge badge-light">{{status.result}}</span> signature is valid but signing domain does not
            match
            sender address
            {{/if}}

            {{/equals}}

            {{#equals status.result "info"}}
            <span class="badge badge-warning">{{status.result}}</span> {{status.comment}}
            {{/equals}}

            {{#equals status.result "fail"}}
            <span class="badge badge-danger">{{status.result}}</span> {{status.comment}}
            {{/equals}}

            {{#equals status.result "neutral"}}
            <span class="badge badge-light">{{status.result}}</span> {{status.comment}}
            {{/equals}}

            {{#equals status.result "none"}}
            <span class="badge badge-light">{{status.result}}</span> {{status.comment}}
            {{/equals}}

            {{#equals status.result "permerror"}}
            <span class="badge badge-secondary">{{status.result}}</span> {{status.comment}}
            {{/equals}}

            {{#equals status.result "temperror"}}
            <span class="badge badge-secondary">{{status.result}}</span> {{status.comment}}
            {{/equals}}

        </dl>

        {{/each}}

    </div>
    <div class="tab-pane" id="result-tabs-dmarc" role="tabpanel" aria-labelledby="result-tabs-ontact-tab">DMARC</div>
</div>