<div class="accordion">
    <div class="card">
        <a href="#showSpf" class="d-block card-header py-3 collapsed" data-toggle="collapse" data-target="#showSpf"
            role="button" aria-expanded="true" aria-controls="showSpf">
            <h6 class="m-0 font-weight-bold text-primary">

                {{#equals spf.status.result "pass"}}
                <span class="badge badge-success"><i class="fas fa-check-circle"></i></span></span>
                {{/equals}}

                {{#equals spf.status.result "softfail"}}
                <span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals spf.status.result "fail"}}
                <span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals spf.status.result "neutral"}}
                <span class="badge badge-secondary"><i class="fas fa-stop-circle"></i></span>
                {{/equals}}

                {{#equals spf.status.result "none"}}
                <span class="badge badge-secondary"><i class="fas fa-stop-circle"></i></span>
                {{/equals}}

                {{#equals spf.status.result "permerror"}}
                <span class="badge badge-info"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals spf.status.result "temperror"}}
                <span class="badge badge-info"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}


                SPF
            </h6>
        </a>
        <div class="collapse" id="showSpf">
            <div class="card-body">
                <dl>
                    <dt>Envelope address</dt>
                    <dd>{{spf.[envelope-from]}}</dd>

                    <dt>IP address</dt>
                    <dd class="text-monospace">{{spf.[client-ip]}}</dd>

                    {{#if spf.rr}}
                    <dt>DNS record</dt>
                    <dd class="text-monospace">{{spf.rr}}</dd>
                    {{/if}}

                    <dt>Result</dt>
                    <dd>
                        {{spf.status.result}}
                        {{#if spf.status.comment}} –
                        {{spf.status.comment}}
                        {{/if}}
                    </dd>

                </dl>
            </div>
        </div>
    </div>

    <div class="card">
        <a href="#showDkim" class="d-block card-header py-3 collapsed" data-toggle="collapse" data-target="#showDkim"
            role="button" aria-expanded="true" aria-controls="showDkim">
            <h6 class="m-0 font-weight-bold text-primary">

                {{#equals mainSig.status.result "pass"}}

                {{#if mainSig.status.aligned}}
                <span class="badge badge-success"><i class="fas fa-check-circle"></i></span></span>
                {{else}}
                <span class="badge badge-secondary">{{mainSig.status.result}} <i
                        class="fas fa-exclamation-triangle"></i></span>
                {{/if}}

                {{/equals}}

                {{#equals mainSig.status.result "softfail"}}
                <span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals mainSig.status.result "fail"}}
                <span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals mainSig.status.result "neutral"}}
                <span class="badge badge-secondary"><i class="fas fa-stop-circle"></i></span>
                {{/equals}}

                {{#equals mainSig.status.result "none"}}
                <span class="badge badge-secondary"><i class="fas fa-stop-circle"></i></span>
                {{/equals}}

                {{#equals mainSig.status.result "permerror"}}
                <span class="badge badge-info"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals mainSig.status.result "temperror"}}
                <span class="badge badge-info"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                DKIM
            </h6>
        </a>
        <div class="collapse" id="showDkim">
            <div class="card-body">
                {{#each dkim.results}}

                <p>Signature {{inc @index 1}}</p>

                <dl>

                    {{#if signingDomain}}
                    <dt>Signed by</dt>
                    <dd class="text-monospace">{{signingDomain}}</dd>
                    {{/if}}

                    {{#if selector}}
                    <dt>with selector</dt>
                    <dd class="text-monospace">{{selector}}</dd>
                    {{/if}}

                    {{#equals status.result "pass"}}

                    {{#if status.aligned}}
                    <span class="badge badge-success">{{status.result}}</span></span>
                    {{else}}
                    <span class="badge badge-secondary">{{status.result}}</span> signature is valid but signing domain
                    does not match sender address
                    {{/if}}

                    {{/equals}}

                    {{#equals status.result "softfail"}}
                    <span class="badge badge-warning">{{status.result}}</span> {{status.comment}}
                    {{/equals}}

                    {{#equals status.result "fail"}}
                    <span class="badge badge-danger">{{status.result}}</span> {{status.comment}}
                    {{/equals}}

                    {{#equals status.result "neutral"}}
                    <span class="badge badge-secondary">{{status.result}}</span> {{status.comment}}
                    {{/equals}}

                    {{#equals status.result "none"}}
                    <span class="badge badge-secondary">{{status.result}}</span> {{status.comment}}
                    {{/equals}}

                    {{#equals status.result "permerror"}}
                    <span class="badge badge-info">{{status.result}}</span> {{status.comment}}
                    {{/equals}}

                    {{#equals status.result "temperror"}}
                    <span class="badge badge-info">{{status.result}}</span> {{status.comment}}
                    {{/equals}}

                </dl>

                {{/each}}
            </div>
        </div>
    </div>

    <div class="card">
        <a href="#showDmarc" class="d-block card-header py-3 collapsed" data-toggle="collapse" data-target="#showDmarc"
            role="button" aria-expanded="true" aria-controls="showDmarc">
            <h6 class="m-0 font-weight-bold text-primary">

                {{#equals dmarc.status.result "pass"}}
                <span class="badge badge-success"><i class="fas fa-check-circle"></i></span></span>
                {{/equals}}

                {{#equals dmarc.status.result "softfail"}}
                <span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals dmarc.status.result "fail"}}
                <span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals dmarc.status.result "neutral"}}
                <span class="badge badge-secondary"><i class="fas fa-stop-circle"></i></span>
                {{/equals}}

                {{#equals dmarc.status.result "none"}}
                <span class="badge badge-secondary"><i class="fas fa-stop-circle"></i></span>
                {{/equals}}

                {{#equals dmarc.status.result "permerror"}}
                <span class="badge badge-info"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                {{#equals dmarc.status.result "temperror"}}
                <span class="badge badge-info"><i class="fas fa-exclamation-triangle"></i></span>
                {{/equals}}

                DMARC
            </h6>
        </a>
        <div class="collapse" id="showDmarc">
            <div class="card-body">

                <dl>
                    <dt>Domain</dt>
                    <dd>{{dmarc.domain}}</dd>

                    {{#if dmarc.rr}}
                    <dt>DNS record</dt>
                    <dd class="text-monospace">{{dmarc.rr}}</dd>
                    {{/if}}

                    <dt>Result</dt>
                    <dd>
                        {{dmarc.status.result}}
                        {{#if dmarc.status.comment}} –
                        {{dmarc.status.comment}}
                        {{/if}}
                    </dd>

                </dl>

            </div>
        </div>
    </div>
</div>