<div class="container mt-4">
    <img src="/static/logo.png"
        style="display: block; float: left; margin: 10px 10px 0 0; max-width: 32px; max-height: 32px" />

    <h1>EmailEngine</h1>

    <div class="row mt-4">

        <div class="col-xl-3 col-md-6 mb-4">

            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Accounts total</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><a
                                    href="/admin/accounts">{{stats.accounts}}</a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Accounts active</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats.connectedAccounts}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {{#each counterList}}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-{{color}} shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {{title}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{value}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-{{icon}} fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                title="This queue processes webhook notifications" data-toggle="tooltip"
                                data-placement="top" style="cursor: default;">
                                <a href="/admin/arena/queue/notify">Webhooks queue</a>{{#if
                                stats.queues.notify.isPaused}} <span class="badge badge-warning">paused</span>{{/if}}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="cursor: default;">
                                <span title="Queue entries total" data-toggle="tooltip"
                                    data-placement="top">{{stats.queues.notify.total}}</span> /
                                <span title="Delayed queue entries" data-toggle="tooltip"
                                    data-placement="top">{{stats.queues.notify.delayed}}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sync-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                title="This queue processes emails to be sent to SMTP" data-toggle="tooltip"
                                data-placement="top" style="cursor: default;">
                                <a href="/admin/arena/queue/submit">Submission queue</a>{{#if
                                stats.queues.submit.isPaused}} <span class="badge badge-warning">paused</span>{{/if}}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="cursor: default;">
                                <span title="Queue entries total" data-toggle="tooltip"
                                    data-placement="top">{{stats.queues.submit.total}}</span> /
                                <span
                                    title="Delayed queue entries. This includes emails that are scheduled to be sent in the future."
                                    data-toggle="tooltip" data-placement="top">{{stats.queues.submit.delayed}}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sync-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                title="This queue indexes mailbox changes to ElasticSearch" data-toggle="tooltip"
                                data-placement="top" style="cursor: default;">
                                <a href="/admin/arena/queue/documents">Documents queue</a>{{#if
                                stats.queues.documents.isPaused}} <span class="badge badge-warning">paused</span>{{/if}}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="cursor: default;">
                                <span title="Queue entries total" data-toggle="tooltip" data-placement="top"></span>

                                {{stats.queues.documents.total}}

                                </span> /
                                <span title="Delayed queue entries" data-toggle="tooltip"
                                    data-placement="top">{{stats.queues.documents.delayed}}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sync-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mb-4">
        <h6>Software Versions</h6>
        <ul class="list-group">
            <li class="list-group-item">EmailEngine v{{packageData.version}}</li>
            <li class="list-group-item">Node.js v{{stats.node}}</li>
            <li class="list-group-item">Redis v{{stats.redis}}</li>
            <li class="list-group-item">ImapFlow v{{stats.imapflow}}</li>
            {{#if stats.build.commit}}
            <li class="list-group-item">Code version: <a
                    href="https://github.com/postalsys/emailengine/tree/{{stats.build.commit}}">{{stats.build.commit}}</a>
            </li>
            {{/if}}
        </ul>
    </div>
</div>

<input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let sendBrowserInfo = async () => {
            let timezone = false;
            try {
                timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            } catch (err) {
                console.error(err);
            }

            try {
                const res = await fetch('/admin/config/browser', {
                    method: 'post',
                    headers: { 'content-type': 'application/json' },
                    body: JSON.stringify({
                        crumb: document.getElementById('crumb').value,
                        serviceUrl: window.location.origin || false,
                        timezone: timezone || false,
                        language: navigator.language || false
                    })
                });
                if (!res.ok) {
                    console.error('Failed to post browser info');
                }
            } catch (err) {
                console.error(err);
            }
        }

        sendBrowserInfo().catch(err => console.error(err))
    });
</script>