<div class="container mt-4">

    <div class="d-flex">
        <img src="/static/logo/EmailEngine_logo_horiz.png" style="display: block; max-height: 60px; max-width: 100%;">
    </div>


    {{#if isElastiCache}}
    <div class="card border-left-danger mt-4">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Compatiblity warning
                    </div>
                    <p>EmailEngine is incompatible with Amazon ElastiCache as the database backend.</p>
                    <p>Please switch to a standard Redis instance. Using ElastiCache with EmailEngine can result in data
                        loss and several functionalities may not work.</p>
                </div>
                <div class="col-auto">
                    <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    {{/if}}


    {{#if isRedisCluster}}
    <div class="card border-left-danger mt-4">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Compatiblity warning
                    </div>
                    <p>EmailEngine is incompatible with Redis Cluster setup.</p>
                    <p>Please switch to a standard Redis primary instance.</p>
                </div>
                <div class="col-auto">
                    <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    {{/if}}


    {{#unless hasAccounts}}

    <div class="card border-left-success mt-4">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Welcome to EmailEngine!
                    </div>
                    <p>To start using EmailEngine, add an email account to the <a href="/admin/accounts">account
                            registry</a>. Once registered, you can access this account to send
                        and receive emails using the <a href="/admin/swagger">EmailEngine's API</a>.
                    </p>
                    <p>You can add email accounts by using the API endpoint for <a
                            href="https://api.emailengine.app/#operation/postV1Account" target="_blank"
                            referrerpolicy="{{referrerPolicy}}">registering
                            accounts</a> or the hosted authentication form.
                    </p>
                    <div>
                        <button type="button" class="btn btn-primary btn-icon-split" data-toggle="modal"
                            data-target="#addAccount">
                            <span class="icon text-white-50">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            <span class="text">Add an account</span>
                        </button>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-info-circle fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>

    {{/unless}}


    <div class="row mt-4">

        <div class="col-xl-3 col-md-6 mb-4">

            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                title="The number of accounts registered with EmailEngine" data-toggle="tooltip"
                                data-placement="top" style="cursor: default;">
                                <a href="/admin/accounts">Accounts total</a>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats.accounts}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                title="The number of accounts currently in the &quot;connected&quot; state"
                                data-toggle="tooltip" data-placement="top" style="cursor: default;">
                                <a href="/admin/accounts?state=connected">Accounts active</a>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats.connectedAccounts}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {{#each counterList}}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-{{color}} shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1" {{#if
                                comment}}title="{{comment}}" data-toggle="tooltip" data-placement="top" {{/if}}
                                style="cursor: default;">
                                {{title}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{value}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-{{icon}} fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="col-xl-3 col-md-6 mb-4">
            {{#if
            stats.queues.notify.isPaused}}
            <div style="position: absolute; right: 18px; top: 2px; z-index: 1; cursor: default;"
                title="EmailEngine is not processing entries for this queue" data-toggle="tooltip" data-placement="top">
                <span class="badge badge-warning">paused</span>
            </div>
            {{/if}}
            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                title="This queue processes webhook notifications" data-toggle="tooltip"
                                data-placement="top" style="cursor: default;">
                                <a href="/admin/arena/queue/notify">Webhooks queue</a>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="cursor: default;">
                                <span title="Queue entries total" data-toggle="tooltip"
                                    data-placement="top">{{stats.queues.notify.total}}</span> /
                                <span title="Delayed queue entries" data-toggle="tooltip"
                                    data-placement="top">{{stats.queues.notify.delayed}}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sync-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            {{#if
            stats.queues.submit.isPaused}}
            <div style="position: absolute; right: 18px; top: 2px; z-index: 1; cursor: default;"
                title="EmailEngine is not processing entries for this queue" data-toggle="tooltip" data-placement="top">
                <span class="badge badge-warning">paused</span>
            </div>
            {{/if}}
            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                title="This queue processes emails to be sent to SMTP" data-toggle="tooltip"
                                data-placement="top" style="cursor: default;">
                                <a href="/admin/arena/queue/submit">Submission queue</a>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="cursor: default;">
                                <span title="Queue entries total" data-toggle="tooltip"
                                    data-placement="top">{{stats.queues.submit.total}}</span> /
                                <span
                                    title="Delayed queue entries. This includes emails that are scheduled to be sent in the future."
                                    data-toggle="tooltip" data-placement="top">{{stats.queues.submit.delayed}}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sync-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if showDocumentStore}}
        <div class="col-xl-3 col-md-6 mb-4">
            {{#if
            stats.queues.documents.isPaused}}
            <div style="position: absolute; right: 18px; top: 2px; z-index: 1; cursor: default;"
                title="EmailEngine is not processing entries for this queue" data-toggle="tooltip" data-placement="top">
                <span class="badge badge-warning">paused</span>
            </div>
            {{/if}}
            <div class="card border-left-primary shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                title="This queue indexes mailbox changes to ElasticSearch" data-toggle="tooltip"
                                data-placement="top" style="cursor: default;">
                                <a href="/admin/arena/queue/documents">Documents queue</a>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="cursor: default;">
                                <span title="Queue entries total" data-toggle="tooltip" data-placement="top"></span>

                                {{stats.queues.documents.total}}

                                </span> /
                                <span title="Delayed queue entries" data-toggle="tooltip"
                                    data-placement="top">{{stats.queues.documents.delayed}}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sync-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-{{redisPing.color}} shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1" {{#if
                                redisPing.comment}}title="{{redisPing.comment}}" data-toggle="tooltip"
                                data-placement="top" {{/if}} style="cursor: default;">
                                {{redisPing.title}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{redisPing.value}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-{{redisPing.icon}} fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="card mt-4 mb-4">
        <a href="#showHelp" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="showHelp">
            <h6 class="m-0 font-weight-bold text-primary">Software versions</h6>
        </a>
        <div class="collapse" id="showHelp">
            <div class="card-body">

                <ul class="list-group">
                    <li class="list-group-item"><a href="https://emailengine.app/" target="_blank"
                            referrerpolicy="{{referrerPolicy}}">EmailEngine</a> v{{packageData.version}}</li>
                    <li class="list-group-item"><a href="https://nodejs.org/en/" target="_blank"
                            referrerpolicy="{{referrerPolicy}}">Node.js</a> v{{stats.node}} ({{stats.arch}})</li>
                    <li class="list-group-item"><a href="https://redis.io/" target="_blank"
                            referrerpolicy="{{referrerPolicy}}">Redis</a> v{{stats.redis}}</li>
                    <li class="list-group-item"><a href="https://imapflow.com/" target="_blank"
                            referrerpolicy="{{referrerPolicy}}">ImapFlow</a> v{{stats.imapflow}}</li>
                    <li class="list-group-item"><a href="https://docs.bullmq.io/" target="_blank"
                            referrerpolicy="{{referrerPolicy}}">BullMQ</a> v{{stats.bullmq}}</li>
                    {{#if stats.build.commit}}
                    <li class="list-group-item">Code version: <a
                            href="https://github.com/postalsys/emailengine/tree/{{stats.build.commit}}" target="_blank"
                            referrerpolicy="{{referrerPolicy}}">{{stats.build.commit}}</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />

{{>add_account_modal}}