<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">{{_ "Insufficient Permissions" templateLocale}}</h1>
</div>

<div class="mb-4">
    <div class="alert alert-danger">
        <i class="fas fa-exclamation-triangle mr-2"></i>
        {{_ "All requested permissions are required for this service to function properly. Some required permissions were not granted during sign-in." templateLocale}}
    </div>

    {{#if missingScopesList}}
    <p class="font-weight-bold mb-2">{{_ "The following permissions were not granted:" templateLocale}}</p>
    <ul class="mb-3">
        {{#each missingScopesList}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}

    <p class="text-muted">
        {{_ "Please try again and make sure all permission checkboxes are selected on the Google consent screen." templateLocale}}
    </p>
</div>

<div class="mt-4">
    <a href="{{reAuthUrl}}" class="btn btn-primary btn-block">
        <i class="fas fa-redo mr-2"></i>{{_ "Try Again" templateLocale}}
    </a>
</div>
