<div class="text-center">
    <h1 class="text-xl font-semibold text-base-content mb-6">{{_ "Insufficient Permissions" templateLocale}}</h1>
</div>

<div class="mb-6">
    <div class="alert alert-soft alert-error mb-4">
        <span class="icon-[tabler--alert-triangle] size-5 shrink-0"></span>
        <span>{{_ "All requested permissions are required for this service to function properly. Some required permissions were not granted during sign-in." templateLocale}}</span>
    </div>

    {{#if missingScopesList}}
    <p class="font-bold mb-2">{{_ "The following permissions were not granted:" templateLocale}}</p>
    <ul class="list-disc ps-6 mb-4">
        {{#each missingScopesList}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}

    <p class="text-base-content/60">
        {{_ "Please try again and make sure all permission checkboxes are selected on the Google consent screen." templateLocale}}
    </p>
</div>

<div class="mt-6">
    <a href="{{reAuthUrl}}" class="btn btn-primary btn-block">
        <span class="icon-[tabler--refresh] size-4"></span>{{_ "Try Again" templateLocale}}
    </a>
</div>
