{{!-- Shown after an OAuth2 sign-in where the user did not grant all requested
permissions; offers a link to restart the consent flow. --}}

<div class="ee-center">
    <h1>{{_ "Insufficient Permissions" templateLocale}}</h1>
</div>

<div class="ee-alert ee-alert-error">
    <span class="ee-icon ee-icon-alert-triangle ee-icon-lg"></span>
    <span>{{_ "All requested permissions are required for this service to function properly. Some required permissions were not granted during sign-in." templateLocale}}</span>
</div>

{{#if missingScopesList}}
<p><strong>{{_ "The following permissions were not granted:" templateLocale}}</strong></p>
<ul>
    {{#each missingScopesList}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

<p class="ee-muted">
    {{_ "Please try again and make sure all permission checkboxes are selected on the Google consent screen." templateLocale}}
</p>

<div class="ee-form-actions">
    <a href="{{reAuthUrl}}" class="ee-btn ee-btn-primary ee-btn-block">
        <span class="ee-icon ee-icon-refresh"></span>{{_ "Try Again" templateLocale}}
    </a>
</div>
