{{#if unsubscribed}}

<h1 class="text-xl font-semibold text-base-content mb-6">{{_ "Unsubscribe" templateLocale }}</h1>

<p class="mb-2">{{_ "Your email address was unsubscribed." templateLocale }}</p>

<p>{{_ "Was this a mistake? Click <a%s>here</a> to re-subscribe." templateLocale
" id='resubscribe-link' href='#' class='link link-animated'"}}</p>


{{#> ui/modal id="resubscribeModal" title=(_ "Re-subscribe" templateLocale) titleId="resubscribeModalLabel"}}
<div class="modal-body">
    {{_ "Are you sure you want to re-subscribe your email address <em>%s</em>?" templateLocale
    (escapeHtml values.email) }}
</div>
<div class="modal-footer">
    <form method="post" action="/unsubscribe/address" class="flex gap-2">
        <input type="hidden" name="crumb" value="{{crumb}}">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="data" value="{{values.data}}">
        <input type="hidden" name="sig" value="{{values.sig}}">
        {{> ui/btn label=(_ "Close" templateLocale) variant="neutral" style="soft" overlay="#resubscribeModal"}}
        {{> ui/btn label=(_ "Subscribe" templateLocale) type="submit"}}
    </form>
</div>
{{/ui/modal}}

<script>
    document.addEventListener('DOMContentLoaded', () => {

        document.getElementById('resubscribe-link').addEventListener('click', e => {
            e.preventDefault();
            uiModal.open('#resubscribeModal');
        });
    });
</script>

{{else}}

{{#if reSubscribed}}

<h1 class="text-xl font-semibold text-base-content mb-6">{{_ "Subscription resumed" templateLocale }}</h1>

<p>{{_ "Your email address <em>%s</em> was re-subscribed." templateLocale (escapeHtml values.email)}}</p>

{{else}}

<h1 class="text-xl font-semibold text-base-content mb-6">{{_ "Unsubscribe" templateLocale }}</h1>

<div class="max-w-md">
    <form method="post" action="/unsubscribe/address">
        <input type="hidden" name="crumb" value="{{crumb}}" />
        <input type="hidden" name="action" value="unsubscribe">
        <input type="hidden" name="data" value="{{values.data}}">
        <input type="hidden" name="sig" value="{{values.sig}}">

        <div>
            {{#> ui/form-field id="email" label=(_ "Email address" templateLocale)}}
            <input type="email" class="input" id="email" value="{{values.email}}" readonly />
            {{/ui/form-field}}
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">{{_ "Unsubscribe" templateLocale }}</button>
        </div>
    </form>
</div>

{{/if}}

{{/if}}
