{{> templates_header}}

<div class="breadcrumbs mt-6 mb-6 text-sm">
    <ul>
        <li><a href="/admin/templates" class="link link-animated">Templates</a></li>
        <li class="breadcrumbs-separator" aria-hidden="true">/</li>
        {{#if account}}
        <li><a href="{{accountTemplatesLink}}" class="link link-animated">{{account.name}}</a></li>
        <li class="breadcrumbs-separator" aria-hidden="true">/</li>
        {{/if}}
        <li><a href="/admin/templates/template/{{template.id}}" class="link link-animated">{{template.name}}</a></li>
        <li class="breadcrumbs-separator" aria-hidden="true">/</li>
        <li aria-current="page">Edit</li>
    </ul>
</div>


<form method="post" action="/admin/templates/edit" id="edit-form">
    <input type="hidden" name="crumb" value="{{crumb}}" />
    <input type="hidden" name="template" value="{{values.template}}">

    {{>template_form}}

    <div class="mb-6">
        {{> ui/btn label="Update template" type="submit" icon="icon-[tabler--file-check]"}}
    </div>
</form>

<script src="/static/js/ace/ace.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        const editors = new Map();

        const editorHtml = ace.edit("editor-html");
        editorHtml.setTheme("ace/theme/xcode");
        editorHtml.session.setMode("ace/mode/handlebars");
        editorHtml.session.setValue(JSON.parse(document.getElementById('contentHtmlJson').value || '""'));

        editors.set("editor-html", editorHtml);

        const editorText = ace.edit("editor-text");
        editorText.setTheme("ace/theme/xcode");
        editorText.session.setMode("ace/mode/handlebars");
        editorText.session.setValue(JSON.parse(document.getElementById('contentTextJson').value || '""'));

        editors.set("editor-text", editorText);


        document.getElementById('edit-form').addEventListener('submit', () => {
            document.getElementById('contentHtml').value = editorHtml.getValue();
            document.getElementById('contentText').value = editorText.getValue();
        });


        uiEditorFullscreen(editors);
    });
</script>