{{> templates_header}}

<nav aria-label="breadcrumb" class="mt-4 mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/templates">Templates</a></li>
        {{#if account}}
        <li class="breadcrumb-item"><a href="{{accountTemplatesLink}}">{{account.name}}</a></li>
        {{/if}}

        <li class="breadcrumb-item"><a href="/admin/templates/template/{{template.id}}">{{template.name}}</a></li>

        <li class="breadcrumb-item active" aria-current="page">Edit</li>

    </ol>
</nav>


<form method="post" action="/admin/templates/edit" id="edit-form">
    <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />
    <input type="hidden" name="template" value="{{values.template}}">

    {{>template_form}}

    <div class="mb-4">
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-file-signature"></i>
            </span>
            <span class="text">Update template</span>
        </button>
    </div>
</form>

<script src="/static/js/ace/ace.js"></script>

<script>

    const editorHtml = ace.edit("editor-html");
    editorHtml.setTheme("ace/theme/xcode");
    editorHtml.session.setMode("ace/mode/handlebars");
    editorHtml.session.setValue(document.getElementById('html-content-element').value);

    const editorText = ace.edit("editor-text");
    editorText.setTheme("ace/theme/xcode");
    editorText.session.setMode("ace/mode/handlebars");
    editorText.session.setValue(document.getElementById('text-content-element').value);

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('edit-form').addEventListener('submit', () => {
            document.getElementById('html-content-element').value = editorHtml.getValue();
            document.getElementById('text-content-element').value = editorText.getValue();
        });
    });

</script>