{{#> ui/page-header title="Templates" icon="icon-[tabler--template]" class="mb-6"}}
{{> ui/btn href=newLink label="Create template" icon="icon-[tabler--plus]"}}
{{/ui/page-header}}

{{#if query}}
{{> ui/search-crumb parentHref="/admin/templates" parentLabel="Templates" query=query}}
{{else if account}}
{{> ui/breadcrumb parentHref="/admin/templates" parentLabel="Templates" current=account.name class="mb-6"}}
{{/if}}

<p class="mb-6">Email templating allows you to create and reuse email content efficiently.</p>

{{#> ui/stat-card variant="info" icon="icon-[tabler--info-circle]" class="mb-6" title=""}}
<p class="mb-2">When sending emails using the EmailEngine <a
        href="https://api.emailengine.app/#operation/postV1AccountAccountSubmit" target="_blank"
        rel="noopener noreferrer" referrerpolicy="no-referrer" class="link link-animated">submission API
        endpoint</a>, you don't need to provide the full
    subject line, HTML content, and plain-text content. Instead, you can specify a template ID, and
    EmailEngine
    will use that template to compile the final email.</p>
<p class="mb-4">For additional customization, you can use Handlebars syntax in templates and provide variables
    to populate dynamic content.</p>

<div>
    {{> ui/btn href="https://emailengine.app/email-templates" external=true label="Documentation" variant="info" size="sm" icon="icon-[tabler--arrow-right]"}}
</div>
{{/ui/stat-card}}

{{#if templates}}
<div class="card bg-base-100 shadow-md mb-6">
    {{#if account}}
    <div class="card-body">
        <div>
            Currently showing email templates for <strong><a href="/admin/accounts/{{account.account}}"
                    class="link link-animated">{{account.name}}</a></strong>. These templates cannot be
            used by other accounts.
        </div>
    </div>
    {{/if}}

    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>ID</th>
                </tr>
            </thead>

            <tbody>
                {{#each templates}}
                <tr class="hover:bg-base-200/60">

                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/templates/template/" id) label="Open template"}}<strong>{{name}}</strong>
                    </td>
                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/templates/template/" id)}}{{description}}
                    </td>

                    <td class="relative">
                        {{> ui/row-link href=(concat "/admin/templates/template/" id)}}
                        {{id}}
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{> ui/pagination showPaging=showPaging prevPage=prevPage nextPage=nextPage pageLinks=pageLinks}}
</div>
{{else}}
{{#> ui/card}}
        {{#if account}}
        <div>
            Currently showing email templates for <strong><a href="/admin/accounts/{{account.account}}"
                    class="link link-animated">{{#if
                    account.name}}{{account.name}}{{else}}{{account.email}}{{/if}}</a></strong>. These templates cannot
            be used by other accounts.
        </div>
        <hr>
        {{/if}}

        <p>
            {{#if firstPage}}
            No templates have been created yet.
            {{else}}
            No templates found.
            {{/if}}
        </p>
    
{{/ui/card}}
{{/if}}

{{#> ui/details summary="Usage example" class="card bg-base-100 shadow-md mb-6"}}
<div>
        <p class="mb-4">When sending emails using the submission API endpoint, do not set <code>"subject"</code>,
            <code>"html"</code> and <code>"text"</code> properties. Instead, set the <code>"template"</code>
            property with the template ID value and, optionally, <code>"render"</code> definition if you are using
            Markdown format as the HTML source or you want to use the Handlebars variables.
        </p>

        <pre class="ee-code-block">$ curl "<span class="cur-base-url" data-origin="">http://127.0.0.1:3000</span>/v1/account/example/submit" \
  -H "Authorization: Bearer &lt;token&gt;" \
  -H "Content-type: application/json" \
  -d '{
    &quot;from&quot;: {
      &quot;name&quot;: &quot;sender name&quot;,
      &quot;address&quot;: &quot;sender@example.com&quot;
    },
    &quot;to&quot;: [
      {
        &quot;name&quot;: &quot;recipient name&quot;,
        &quot;address&quot;: &quot;recipient@example.com&quot;
      }
    ],
    &quot;template&quot;: &quot;AAABgUIbuG0AAAAE&quot;,
    &quot;render&quot;: {
      &quot;params&quot;: {
        &quot;key&quot;: &quot;value&quot;
      }
    }
  }'</pre>

        <hr class="my-4">
        <div class="text-base-content/60">
            <p>This example assumes that you use <code>\{{params.key}}</code> in the subject, html or plain-text
                content of the template.</p>
        </div>

</div>
{{/ui/details}}
