<form method="post" action="/accounts/new/imap">
    <input type="hidden" name="crumb" value="{{crumb}}">
    <input type="hidden" name="data" value="{{values.data}}">
    <input type="hidden" name="sig" value="{{values.sig}}">

    <div class="space-y-4">

        <div>
            {{#> ui/form-field id="name" label=(_ "Your name" templateLocale) error=errors.name}}
            <input type="text" class="input{{#if errors.name}} is-invalid{{/if}}" id="name" name="name"
                value="{{values.name}}" {{#unless values.name}}autofocus{{/unless}} />
            <span class="helper-text">{{_ "Enter your full name" templateLocale }}</span>
            {{/ui/form-field}}
        </div>

        <div>
            {{#> ui/form-field id="email" label=(_ "Email address" templateLocale) error=errors.email}}
            <input type="email" class="input{{#if errors.email}} is-invalid{{/if}}" id="email" name="email"
                value="{{values.email}}" {{#if values.name}}autofocus{{/if}} required />
            <span class="helper-text">{{_ "Enter your email address" templateLocale }}</span>
            {{/ui/form-field}}
        </div>

        <div>
            {{#> ui/form-field id="password" label=(_ "Password" templateLocale) error=errors.password}}
            <input type="password" class="input{{#if errors.password}} is-invalid{{/if}}" id="password"
                name="password" value="{{values.password}}" required />
            <span class="helper-text">{{_ "Enter your account password" templateLocale }}</span>
            {{/ui/form-field}}
        </div>


        <div class="mt-4">

            <button type="submit" class="btn btn-primary">
                <span class="icon-[tabler--arrow-right] size-4"></span>
                {{_ "Continue" templateLocale }}
            </button>
        </div>
    </div>
</form>
