<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">{{_ "Choose your email account provider" }}</h1>
</div>

<div style="width: 270px; margin: 0 auto;">

    <div class="mb-1 p-1">
        <form method="post" action="/accounts/new">
            <input type="hidden" name="crumb" value="{{crumb}}">
            <input type="hidden" name="type" value="imap">
            <input type="hidden" name="data" value="{{values.data}}">
            <input type="hidden" name="sig" value="{{values.sig}}">

            <button type="submit" class="btn btn-primary btn-block" style="line-height: 2.5rem; font-size: 1.2rem;">
                <i class="fa fa-envelope-square fa-fw"></i> {{_ "Standard IMAP" }}
            </button>
        </form>
    </div>

    {{#if oauth2apps}}

    {{#each oauth2apps}}

    <div class="mb-1 p-1 rounded {{#if title}}hover-bg-light{{/if}}">

        {{#if title}}
        <h5 style="cursor: default;">{{title}}</h5>
        {{/if}}

        <form method="post" action="/accounts/new">
            <input type="hidden" name="crumb" value="{{../crumb}}">
            <input type="hidden" name="type" value="{{id}}">
            <input type="hidden" name="data" value="{{../values.data}}">
            <input type="hidden" name="sig" value="{{../values.sig}}">

            {{#if providerData.linkImage}}
            <input type="image" src="{{providerData.linkImage}}" style="width: 100%; display: block;" />
            {{else}}

            <button type="submit" class="btn btn-primary btn-block" style="font-size: 1.5rem;">
                <i class="fa {{providerData.icon}} fa-fw"></i> {{providerData.comment}}
            </button>
            {{/if}}


        </form>
    </div>
    {{/each}}

    {{/if}}

</div>