<div class="text-center">
    <h1 class="text-xl font-semibold text-base-content mb-6">{{_ "Choose your email account provider" templateLocale }}
    </h1>
</div>

<div class="mx-auto w-[270px]">

    <div class="mb-1 p-1">
        <form method="post" action="/accounts/new">
            <input type="hidden" name="crumb" value="{{crumb}}">
            <input type="hidden" name="type" value="imap">
            <input type="hidden" name="data" value="{{values.data}}">
            <input type="hidden" name="sig" value="{{values.sig}}">

            <button type="submit" class="btn btn-primary btn-block h-12 text-lg">
                <span class="icon-[tabler--mail] size-5"></span> {{_ "Standard IMAP" templateLocale }}
            </button>
        </form>
    </div>

    {{#if oauth2apps}}

    {{#each oauth2apps}}

    <div class="mb-1 p-1 rounded-box {{#if title}}hover-bg-light{{/if}}">

        {{#if title}}
        <h5 class="cursor-default font-semibold">{{title}}</h5>
        {{/if}}

        <form method="post" action="/accounts/new">
            <input type="hidden" name="crumb" value="{{../crumb}}">
            <input type="hidden" name="type" value="{{id}}">
            <input type="hidden" name="data" value="{{../values.data}}">
            <input type="hidden" name="sig" value="{{../values.sig}}">

            {{#if providerData.linkImage}}
            <input type="image" src="{{providerData.linkImage}}" class="block w-full" />
            {{else}}

            <button type="submit" class="btn btn-primary btn-block h-14 text-xl">
                {{!-- provider logos are still Font Awesome classes served by the
                      backend; converted to Tabler at the end of the migration --}}
                <i class="fa {{providerData.icon}} fa-fw"></i> {{providerData.comment}}
            </button>
            {{/if}}


        </form>
    </div>
    {{/each}}

    {{/if}}

</div>
