<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">
        <small><a href="/admin/accounts"><i class="fas fa-arrow-left fa-fw"></i></a></small> Registered accounts
    </h1>
</div>

<div class="mt-4">

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">


            <button type="button" class="btn btn-light">
                <i class="fas fa-user-edit fa-fw"></i> Edit
            </button>

            <button type="button" class="btn btn-light">
                <i class="fas fa-trash-alt fa-fw"></i> Delete
            </button>

            <button type="button" class="btn btn-light">
                <i class="fas fa-sync-alt fa-fw"></i> Reconnect
            </button>

            <button type="button" class="btn btn-light">
                <i class="fas fa-cloud-download-alt fa-fw"></i> Logs
            </button>

        </div>
    </div>
</div>

<div class="mt-4 row">
    <div class="col-8">
        <dl class="row">

            {{#if account.account}}
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">{{account.account}}</dd>
            {{/if}}

            {{#if account.name}}
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{account.name}}</dd>
            {{/if}}

            {{#if account.email}}
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{account.email}}</dd>
            {{/if}}

            <dt class="col-sm-3">Account type</dt>
            <dd class="col-sm-9">
                {{#if account.type.icon}}
                <i class="{{account.type.icon}} fa-fw"></i>
                {{/if}}

                {{account.type.name}}

                {{#if account.type.comment}}
                <span class="text-muted">({{account.type.comment}})</span>
                {{/if}}

            </dd>

            <dt class="col-sm-3">State</dt>
            <dd class="col-sm-9">
                <span class="badge badge-pill badge-{{account.stateLabel.type}}" style="cursor:default;" {{#if
                    account.stateLabel.error}}data-toggle="tooltip" data-placement="top"
                    title="{{account.stateLabel.error}}" {{/if}}>

                    {{#if account.stateLabel.spinner}}
                    <i class="fas fa-spinner fa-spin fa-fw"></i>
                    {{/if}}

                    {{account.stateLabel.name}}</span>
            </dd>
        </dl>
    </div>
</div>

<div class="row">


    {{#if account.oauth2}}
    <div class="col-lg-6">


        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Oauth2</h6>
            </div>
            <div class="card-body">

                <dl class="row">

                    {{#if account.oauth2.provider}}
                    <dt class="col-sm-3">Provider</dt>
                    <dd class="col-sm-9">{{account.type.comment}}</dd>
                    {{/if}}

                    {{#if account.oauth2.auth.user}}
                    <dt class="col-sm-3">Username</dt>
                    <dd class="col-sm-9">{{account.oauth2.auth.user}}</dd>
                    {{/if}}

                    {{#if account.oauth2.scopes}}
                    <dt class="col-sm-3">Scopes</dt>
                    <dd class="col-sm-9">
                        <div>
                            {{#each account.oauth2.scopes}}
                            <div><code>{{this}}</code></div>
                            {{/each}}
                        </div>
                    </dd>
                    {{/if}}

                </dl>

            </div>
        </div>


    </div>
    {{/if}}



    {{#if account.imap}}
    <div class="col-lg-6">

        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">IMAP</h6>
            </div>
            <div class="card-body">

                <dl class="row">

                    {{#if account.imap.auth.user}}
                    <dt class="col-sm-3">Username</dt>
                    <dd class="col-sm-9">{{account.imap.auth.user}}</dd>
                    {{/if}}

                    {{#if account.imap.auth.pass}}
                    <dt class="col-sm-3">Password</dt>
                    <dd class="col-sm-9">*******</dd>
                    {{/if}}

                    {{#if account.imap.host}}
                    <dt class="col-sm-3">Hostname</dt>
                    <dd class="col-sm-9">{{account.imap.host}}</dd>
                    {{/if}}

                    {{#if account.imap.port}}
                    <dt class="col-sm-3">Port</dt>
                    <dd class="col-sm-9">{{account.imap.port}}</dd>
                    {{/if}}


                    <dt class="col-sm-3">TLS</dt>
                    <dd class="col-sm-9">{{#if account.imap.secure}}Yes{{else}}Uses STARTTLS if possible{{/if}}</dd>

                </dl>

            </div>
        </div>

    </div>
    {{/if}}





    {{#if account.smtp}}
    <div class="col-lg-6">

        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">SMTP</h6>
            </div>
            <div class="card-body">

                <dl class="row">

                    {{#if account.smtp.auth.user}}
                    <dt class="col-sm-3">Username</dt>
                    <dd class="col-sm-9">{{account.smtp.auth.user}}</dd>
                    {{/if}}

                    {{#if account.smtp.auth.pass}}
                    <dt class="col-sm-3">Password</dt>
                    <dd class="col-sm-9">*******</dd>
                    {{/if}}

                    {{#if account.smtp.host}}
                    <dt class="col-sm-3">Hostname</dt>
                    <dd class="col-sm-9">{{account.smtp.host}}</dd>
                    {{/if}}

                    {{#if account.smtp.port}}
                    <dt class="col-sm-3">Port</dt>
                    <dd class="col-sm-9">{{account.smtp.port}}</dd>
                    {{/if}}

                    <dt class="col-sm-3">TLS</dt>
                    <dd class="col-sm-9">{{#if account.smtp.secure}}Yes{{else}}Uses STARTTLS if possible{{/if}}</dd>
                </dl>

            </div>
        </div>

    </div>
    {{/if}}


</div>