<div class="float-right">
    <button type="button" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#addAccount">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Add an account</span>
    </button>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">Registered accounts</h1>
</div>

{{#if accounts}}
<div class="card mt-4 mb-4">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>

            <tbody>
                {{#each accounts}}
                <tr>
                    <td>{{account}}</td>
                    <td><strong>{{name}}</strong></td>

                    <td>
                        {{#if type.icon}}
                        <i class="{{type.icon}} fa-fw"
                            title="{{type.name}}{{#if type.comment}} ({{type.comment}}){{/if}}" data-toggle="tooltip"
                            data-placement="top"></i>
                        {{else}}
                        {{type.name}}
                        {{#if type.comment}}
                        <span class="text-muted">({{type.comment}})</span>
                        {{/if}}
                        {{/if}}
                    </td>

                    <td><span class="badge badge-pill badge-{{stateLabel.type}}" style="cursor:default;" {{#if
                            stateLabel.error}}data-toggle="tooltip" data-placement="top" title="{{stateLabel.error}}"
                            {{/if}}>{{stateLabel.name}}</span>
                    </td>

                    </td>
                    <td style="text-align: right;">
                        <a href="/admin/account/{{account}}?next={{../curpage}}" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
    <div class="list-group">
        <div class="list-group-item">
            No accounts have been registered yet.
        </div>
    </div>
    {{/if}}

    {{#if showPaging}}
    <div class="card-footer">

        <nav aria-label="Page navigation">
            <ul class="pagination">

                {{#if prevPage}}
                <li class="page-item"><a class="page-link" href="{{prevPage}}">Previous</a></li>
                {{else}}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {{/if}}


                {{#each pageLinks}}
                <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="{{url}}">{{title}}</a>
                </li>
                {{/each}}

                {{#if nextPage}}
                <li class="page-item"><a class="page-link" href="{{nextPage}}">Next</a></li>
                {{else}}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {{/if}}

            </ul>
        </nav>


    </div>
    {{/if}}
</div>

<div class="modal fade" id="addAccount" tabindex="-1" aria-labelledby="addAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAccountLabel">Add an account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/admin/accounts/new">
                <input type="hidden" name="crumb" value="{{crumb}}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="account-id" class="col-form-label">Full name:</label>
                        <input type="text" class="form-control" id="account-name" name="name" placeholder="John Smith…">
                    </div>
                    <div class="form-group">
                        <label for="account-id" class="col-form-label">Account ID:</label>
                        <input type="text" class="form-control" id="account-id" name="account" placeholder="johnsmith"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Go to setup form</button>
                </div>
            </form>
        </div>
    </div>
</div>