{{> document_store_header}}

<div class="card border-left-info shadow mb-4">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">

                <div class="mb-2">
                    You can create custom field type mappings for emails saved in ElasticSearch. While EmailEngine
                    automatically maps types for its default fields, it doesn't do this for custom fields you've added
                    using the Document Store's pre-processing functions. Oftentimes, relying on ElasticSearch's
                    automatic type detection works well, but not always.
                </div>
                <div>
                    <strong>Important:</strong> Once you've set a field mapping, you can't change it without migrating
                    the entire index. This also holds true for fields that ElasticSearch has auto-mapped. If
                    ElasticSearch sets a type for a field automatically, you won't be able to change that type later.
                    Make sure to set your desired mappings before saving data to ElasticSearch.
                </div>

            </div>

            <div class="col-auto">
                <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Custom mappings</h6>
    </div>

    <div class="card-body">

        <div class="btn-toolbar mb-4" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">

                <a type="button" class="btn btn-light" href="/admin/config/document-store/mappings/new"
                    title="Create mapping for a new field" data-toggle="tooltip" data-placement="top">
                    <i class="fas fa-plus fa-fw"></i> Add new mapping
                </a>

            </div>
        </div>
    </div>

    <table class="table">
        <thead>

            <tr>
                <th>Field</th>
                <th>Type</th>
                <th>Searchable</th>
            </tr>
        </thead>

        <tbody>
            {{#if customMappingsList}}

            {{#each customMappingsList}}
            <tr>
                <th>{{key}}</th>
                <td>{{type}}</td>
                <td>
                    <span class="badge {{#if indexed}}badge-success{{else}}badge-warning{{/if}}">{{#if
                        indexed}}Yes{{else}}No{{/if}}</span>
                </td>

            </tr>
            {{/each}}

            {{else}}
            <tr>
                <td colspan="3">No custom mappings defined</td>
            </tr>
            {{/if}}
        </tbody>
    </table>


</div>

<div class="card mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Built-in mappings</h6>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Field</th>
                <th>Type</th>
                <th>Searchable</th>
            </tr>
        </thead>
        <tbody>

            {{#each defaultMappingsList}}
            <tr>
                <th>{{key}}</th>
                <td>{{type}}</td>
                <td>
                    <span class="badge {{#if indexed}}badge-success{{else}}badge-warning{{/if}}">{{#if
                        indexed}}Yes{{else}}No{{/if}}</span>
                </td>

            </tr>
            {{/each}}

        </tbody>
    </table>

</div>