<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EmailEngine Homepage" />
    <meta name="author" content="Postal Systems OÜ">

    <title>EmailEngine{{#if pageTitle}} &ndash; {{pageTitle}}{{/if}}</title>

    <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png" sizes="180x180" />
    <link rel="icon" href="/static/favicon/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/static/favicon/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="manifest" href="/static/favicon/manifest.json" />
    <link rel="icon" href="/favicon.ico" />

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link rel="stylesheet" href="/static/css/highlight.min.css">

    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <div class="d-flex">
                        <img src="/static/logo/EmailEngine_logo_horiz.png"
                            style="display: block; max-height: 32px; max-width: 100%;">
                    </div>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {{>side_menu}}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{#if iframePage}}

                {{{content}}}

                {{else}}

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    {{#if searchTarget}}
                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                        method="get" action="{{searchTarget}}">
                        <div class="input-group">

                            <div class="dropdown input-group-prepend">
                                <a class="btn btn-light dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">


                                    {{#if selectedState}}
                                    {{selectedState.label}}
                                    {{else}}
                                    All
                                    {{/if}}

                                </a>

                                <div class="dropdown-menu">
                                    {{#each stateOptions}}
                                    {{#if divider}}
                                    <div class="dropdown-divider"></div>
                                    {{else}}
                                    <a class="dropdown-item {{#if selected}}active{{/if}}" href="{{url}}">{{label}}</a>
                                    {{/if}}
                                    {{/each}}
                                </div>
                            </div>

                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="{{searchPlaceholder}}" aria-label="Search" aria-describedby="basic-addon2"
                                name="query" value="{{query}}">

                            <input type="hidden" name="state" value="{{state}}">

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>

                        </div>


                    </form>
                    {{/if}}

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        {{#if licenseInfo.suspended}}
                        <li class="nav-item mx-1">
                            <div class="text-danger nav-link" style="cursor: default;"
                                title="EmailEngine is currently not running and does not process any email accounts"
                                data-toggle="tooltip" data-placement="left">
                                <div>
                                    <i class="fas fa-heartbeat"></i> Engine is <strong>stopped</strong>
                                </div>
                            </div>
                        </li>
                        {{/if}}

                        {{#if systemAlerts}}

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{{systemAlerts.length}}</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">

                                <h6 class="dropdown-header">
                                    System notifications
                                </h6>

                                {{#each systemAlerts}}

                                <a class="dropdown-item d-flex align-items-center" href="{{url}}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-{{level}}">
                                            <i class="{{#if brand}}fab{{else}}fas{{/if}} fa-{{icon}} text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        {{#if verbatim}}
                                        {{{message}}}
                                        {{else}}
                                        {{message}}
                                        {{/if}}
                                    </div>
                                </a>

                                {{/each}}
                            </div>
                        </li>

                        {{/if}}


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">

                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{#if authData.name}}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{authData.name}}</span>
                                {{/if}}
                                <img class="img-profile rounded-circle" src="/static/undraw_profile.svg">
                            </a>

                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                {{#if authData.isAdmin}}
                                <a class="dropdown-item {{#if menuAccountSecurity}}active{{/if}}"
                                    href="/admin/account/security">
                                    <i class="fas fa-user-shield fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Account security
                                </a>
                                {{#if authData.enabled}}
                                <div class="dropdown-divider"></div>
                                {{/if}}

                                {{/if}}
                                {{#if authData.enabled}}
                                <a class="dropdown-item" href="/admin/logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Log out
                                </a>
                                {{/if}}
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div id="toastContainer"
                        style="position: fixed; top: 50px; right: 50px; min-width: 250px; z-index: 10000;"></div>

                    {{> alerts}}

                    {{#unless licenseInfo.active}}

                    {{#unless hideLicenseWarning}}
                    <div id="license-warning" class="card border-left-danger shadow mb-4">
                        <div class="card-body">

                            {{#if licenseInfo.suspended}}
                            <div class="alert alert-danger" role="alert">
                                EmailEngine is currently not syncing any accounts. Please restart the application or
                                register a valid license key to enable syncing.
                            </div>
                            {{/if}}

                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        License key missing</div>
                                    <p>To use all the features of EmailEngine, you need to provide a valid license key.
                                    </p>
                                    <div>

                                        {{#if trialPossible}}

                                        <button type="button" id="start-trial-btn"
                                            class="btn btn-success btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-gift"></i>
                                            </span>
                                            <span class="text">Start a 14-day trial</span>
                                        </button>

                                        {{/if}}

                                        <a href="/admin/config/license" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <span class="text">Register a license</span>
                                        </a>

                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-key fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/unless}}
                    {{/unless}}

                    {{#unless authData.enabled}}
                    {{#unless disableAuthWarning}}
                    <div class="card border-left-danger shadow mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        Authentication not enabled</div>
                                    <p>To enable authentication for EmailEngine, please set a password for the admin
                                        user account.</p>
                                    <div>
                                        <a href="/admin/account/password" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <span class="text">Enable authentication</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-shield fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/unless}}
                    {{/unless}}

                    {{{content}}}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <a href="{{packageData.homepage}}" target="_blank">EmailEngine</a> v{{packageData.version}}.
                        <span class="text-muted">&copy; 2020-{{currentYear}}</span>

                        <a class="text-muted" href="https://postalsys.com/contact" target="_blank">Postal Systems
                            O&Uuml;</a>.
                        <a class="" href="/admin/legal">
                            <i class="fas fa-fw fa-gavel"></i>
                            License and terms</a>.
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
            {{/if}}
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/js/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="/static/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <script src="/static/vendor/handlebars/handlebars.min-v4.7.7.js"></script>
    <script src="/static/js/clipboard.min.js"></script>

    <script src="/static/js/bootstrap-autocomplete.min.js"></script>

    <script src="/static/js/highlight.min.js"></script>

    <script src="/static/js/app.js"></script>


    {{#if trialPossible}}
    <div class="modal fade" id="activateTrial" tabindex="-1" aria-labelledby="activateTrialLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activateTrialLabel">Start a 14-day trial</h5>
                    <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Provisioning a trial license, please wait <i class="fas fa-spinner fa-spin fa-fw"></i>
                </div>
                <div class="modal-footer d-none">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">OK?</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let trialBtn = document.getElementById('start-trial-btn');

            let handleActivation = async () => {

                const res = await fetch('/admin/config/license/trial', {
                    method: 'post',
                    headers: { 'content-type': 'application/json' },
                    body: JSON.stringify({
                        crumb: document.getElementById('crumb').value
                    })
                });

                if (!res.ok) {
                    throw new Error('Request failed with status ' + res.status);
                }

                let data = await res.json();

                if (!data || !data.success) {
                    console.log(data)
                    throw new Error(data.error || 'Request failed');
                }

                return 1
            }

            let lastError, lastSuccess;

            $('#activateTrial').on('shown.bs.modal', function (event) {
                // do something...
                handleActivation().then(res => {
                    lastError = false;
                    lastSuccess = res;
                    $('#activateTrial').modal('hide');
                }).catch(err => {
                    lastError = err;
                    lastSuccess = false;
                    $('#activateTrial').modal('hide');
                })
            })

            $('#activateTrial').on('hidden.bs.modal', function (event) {
                // do something...
                if (lastError) {
                    return showToast(lastError.message, 'alert-triangle');
                }

                if (lastSuccess) {
                    console.log(lastSuccess);
                    document.getElementById('license-warning').style.display = 'none';
                    window.location.reload();
                }
            });

            trialBtn.addEventListener('click', e => {
                e.preventDefault();
                $('#activateTrial').modal('show');
            });
        });
    </script>

    {{/if}}

    {{#if updateBrowserInfo}}
    <input type="hidden" id="browser-info-crumb" value="{{crumb}}" />
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let sendBrowserInfo = async () => {
                let timezone = false;
                try {
                    timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
                } catch (err) {
                    console.error(err);
                }

                try {
                    const res = await fetch('/admin/config/browser', {
                        method: 'post',
                        headers: { 'content-type': 'application/json' },
                        body: JSON.stringify({
                            crumb: document.getElementById('browser-info-crumb').value,
                            serviceUrl: window.location.origin || false,
                            timezone: timezone || false,
                            language: navigator.language || false
                        })
                    });

                    if (!res.ok) {
                        console.error('Failed to post browser info');
                    } else {
                        let serviceUrlformEntry = document.querySelector('#settingsServiceUrl')
                        if (serviceUrlformEntry && !serviceUrlformEntry.value) {
                            serviceUrlformEntry.value = window.location.origin || ''
                        }
                    }
                } catch (err) {
                    console.error(err);
                }

            }

            sendBrowserInfo().catch(err => console.error(err))
        });
    </script>
    {{/if}}
</body>

</html>