<div class="float-right">
    <a href="{{newLink}}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create new</span>
    </a>
</div>

{{> tokens_header}}

<p>
    To access EmailEngine API, you need to authenticate your API requests with an access token.
</p>

{{#if data.tokens}}
<div class="card mt-4 mb-4">
    {{#if account}}
    <div class="card-body">
        <div>
            Currently showing tokens for <strong><a
                    href="/admin/accounts/{{account.account}}">{{account.name}}</a></strong>. These tokens can not be
            used by other accounts.
        </div>
    </div>
    {{/if}}
    <div class="table-responsive">
        <table class="table">
            <thead class="">
                <tr>
                    <th class="p-0">
                        <div class="p-2">Description</div>
                    </th>
                    <th class="p-0">
                        <div class="p-2">Scopes</div>
                    </th>
                    <th class="p-0">
                        <div class="p-2">Last used</div>
                    </th>
                    <th class="p-0">
                        <div class="p-2">&nbsp;</div>
                    </th>
                </tr>
            </thead>

            <tbody>
                {{#each data.tokens}}
                <tr>
                    <td class="p-2">
                        <strong>{{description}}</strong>
                    </td>

                    <td class="p-2">
                        {{#if scopes}}
                        {{#each scopes}}{{#unless first}}, {{/unless}}{{name}}{{/each}}
                        {{/if}}
                    </td>

                    <td class="p-2">
                        {{#if access.timeStr}}
                        <span class="relative-time" data-time="{{access.timeStr}}"></span>
                        {{else}}
                        <span>Never used</span>
                        {{/if}}
                    </td>

                    <td class="p-2 text-right">
                        <button type="button" class="btn btn-danger btn-circle btn-sm delete-token-btn"
                            data-token="{{id}}" data-toggle="tooltip" data-placement="top" title="Delete this token"><i
                                class="fas fa-trash-alt"></i></button>
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{#if showPaging}}
<div class="card-footer">

    <nav aria-label="Page navigation">
        <ul class="pagination" style="flex-wrap: wrap;">

            {{#if prevPage}}
            <li class="page-item"><a class="page-link" href="{{prevPage}}">Previous</a></li>
            {{else}}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {{/if}}

            {{#each pageLinks}}
            <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="{{url}}">{{title}}</a>
            </li>
            {{/each}}

            {{#if nextPage}}
            <li class="page-item"><a class="page-link" href="{{nextPage}}">Next</a></li>
            {{else}}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {{/if}}

        </ul>
    </nav>
</div>
{{/if}}

{{else}}
<div class="list-group mt-4 mb-4">
    <div class="list-group-item">
        {{#if account}}
        <div>
            Currently showing tokens for <strong><a href="/admin/accounts/{{account.account}}">{{#if
                    account.name}}{{account.name}}{{else}}{{account.email}}{{/if}}</a></strong>. These tokens can not
            be used by other accounts.
        </div>
        <hr>
        {{/if}}

        <p>
            {{#if firstPage}}
            No access tokens have been provisioned. Generate a new token <a href="{{newLink}}">here</a>.
            {{else}}
            Nothing to show here.
            {{/if}}
        </p>
    </div>
</div>
{{/if}}


<div class="card mt-4 mb-4">
    <a href="#showHelp" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="showHelp">
        <h6 class="m-0 font-weight-bold text-primary">Usage instructions</h6>
    </a>
    <div class="collapse" id="showHelp">
        <div class="card-body">
            <p>You either have to use the <em>Authorization: Bearer</em> header (preferred) or the
                <em>access_token</em> query parameter to make API requests. Avoid using the query parameter as it is
                not redacted from the HTTP logs.
            </p>

            <pre>$ curl "<span class="cur-base-url" data-origin="">http://127.0.0.1:3000</span>/v1/stats?access_token=&lt;token&gt;"
$ curl "<span class="cur-base-url" data-origin="">http://127.0.0.1:3000</span>/v1/stats" --header "Authorization: Bearer &lt;token&gt;"</pre>

            <p>Prometheus endpoint at <code>/metrics</code> also requires an authorization token. Use the following
                configuration for setting up the token for a scraping endpoint:
            </p>

            <pre>authorization:
  type: Bearer
  credentials: &lt;token&gt;</pre>

            <hr>
            <div class="text-muted">
                <code>&lt;token&gt;</code> is the full access token string without any quoting.
            </div>
            <div class="text-muted">Read more about setting
                up Prometheus and Grafana with EmailEngine from the <a
                    href="https://emailengine.app/monitoring#prometheus" target="_blank"
                    referrerpolicy="{{referrerPolicy}}">documentation</a>.
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteToken" tabindex="-1" aria-labelledby="deleteTokenLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteTokenLabel">Delete token</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this token? This action can not be reversed.
            </div>
            <div class="modal-footer">
                <form method="post" action="/admin/tokens/delete">
                    <input type="hidden" name="crumb" value="{{crumb}}">
                    <input type="hidden" id="token-delete" name="token" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        for (let elm of document.querySelectorAll('.delete-token-btn')) {
            elm.addEventListener('click', e => {
                e.preventDefault();
                document.getElementById('token-delete').value = elm.dataset.token;
                $('#deleteToken').modal('show');
            });
        }
    });
</script>